<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" style="position: relative;line-height: 0;color: inherit;margin: 0;padding: 0.2em;" href="<?php echo App::Url();?>">
        <?php echo logo(); ?>
      </a>
      <span class="navbar-brand visible-lg"><?php echo App::$config['nombre_empresa']; ?></span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<?php echo App::Url();?>/salir">
            <i class="material-icons">lock</i>
            <?php echo App::$lang['logout']; ?>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">assistant_photo</i> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<?php echo App::Url();?>/lenguaje/en">
                <?php echo App::$lang['english']; ?>
              </a>
            </li>
            <li>
              <a href="<?php echo App::Url();?>/lenguaje/es">
                <?php echo App::$lang['spanish']; ?>
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown visible-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <?php echo App::$lang['sections']; ?> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li <?php echo isActive( ''); ?> > <a href="<?php echo App::Url();?>/">Dashboard</a></li>
            <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
            <li <?php echo isActive( 'usuarios'); ?> >
              <a href="<?php echo App::Url();?>/gestion/usuarios">
                <?php echo App::$lang['users']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'clientes'); ?> >
              <a href="<?php echo App::Url();?>/gestion/clientes">
                <?php echo App::$lang['clients']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'categorias'); ?> >
              <a href="<?php echo App::Url();?>/gestion/categorias">
                <?php echo App::$lang['categories']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'os_servicio'); ?> >
              <a href="<?php echo App::Url();?>/gestion/os_servicio">
                <?php echo App::$lang['service_orders']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'productos'); ?> >
              <a href="<?php echo App::Url();?>/gestion/productos">
                <?php echo App::$lang['products']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'servicios'); ?> >
              <a href="<?php echo App::Url();?>/gestion/servicios">
                <?php echo App::$lang['services']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'listas_compra'); ?> >
              <a href="<?php echo App::Url();?>/gestion/listas_compra">
                <?php echo App::$lang['cart_list']; ?>
              </a>
            </li>

            <?php }else{ /* solo para empleados */?>
            <li <?php echo isActive( 'clientes'); ?> >
              <a href="<?php echo App::Url();?>/gestion/clientes">
                <?php echo App::$lang['clients']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'categorias'); ?> >
              <a href="<?php echo App::Url();?>/gestion/categorias">
                <?php echo App::$lang['categories']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'proveedores'); ?> >
              <a href="<?php echo App::Url();?>/gestion/proveedores">
                <?php echo App::$lang['providers']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'os_servicio'); ?> >
              <a href="<?php echo App::Url();?>/gestion/os_servicio">
                <?php echo App::$lang['service_orders']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'productos'); ?> >
              <a href="<?php echo App::Url();?>/gestion/productos">
                <?php echo App::$lang['products']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'servicios'); ?> >
              <a href="<?php echo App::Url();?>/gestion/servicios">
                <?php echo App::$lang['services']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'listas_compra'); ?> >
              <a href="<?php echo App::Url();?>/gestion/listas_compra">
                <?php echo App::$lang['cart_list']; ?>
              </a>
            </li>
            <?php };?>
          </ul>
        </li>
        <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
        <li class="dropdown visible-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <?php echo App::$lang['configuration']; ?>
          </a>
          <ul class="dropdown-menu">
            <li <?php echo isActive( 'categorias'); ?> >
              <a href="<?php echo App::Url();?>/gestion/categorias">
                <?php echo App::$lang['categories']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'marcas'); ?> >
              <a href="<?php echo App::Url();?>/gestion/marcas">
                <?php echo App::$lang['trademark']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'proveedores'); ?> >
              <a href="<?php echo App::Url();?>/gestion/proveedores">
                <?php echo App::$lang['providers']; ?>
              </a>
            </li>
            <li<?php echo isActive( 'backup'); ?>>
              <a href="<?php echo App::Url();?>/make/backup">Backup</a>
            </li>
          </ul>
        </li>
        <?php }else{ ?>
        <li class="dropdown visible-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <?php echo App::$lang['configuration']; ?>
          </a>
          <ul class="dropdown-menu">
            <li <?php echo isActive( 'categorias'); ?> >
              <a href="<?php echo App::Url();?>/gestion/categorias">
                <?php echo App::$lang['categories']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'marcas'); ?> >
              <a href="<?php echo App::Url();?>/gestion/marcas">
                <?php echo App::$lang['trademark']; ?>
              </a>
            </li>
            <li <?php echo isActive( 'proveedores'); ?> >
              <a href="<?php echo App::Url();?>/gestion/proveedores">
                <?php echo App::$lang['providers']; ?>
              </a>
            </li>
          </ul>
        </li>
        <?php }; ?>
      </ul>
    </div>
  </div>
</nav>

