<div class="row">
  <div class="col-md-12">
    <?php
      $productos = App::Db()->select('productos',array('producto_id','nombre','stock','stock_min'));
      $html = '';
      $productosSinStock = '';
      foreach($productos as $p){
        if($p['stock_min'] >= $p['stock'] || $p['stock'] == 0){

          // accesso solo para el administrador
          $link = '';
          if(App::SessionGet('app_role') == 'administrador') $link ='<a class="btn btn-info btn-xs" href="'.App::Url().'/gestion/productos/editar/'.$p['producto_id'].'">'.App::$lang['edit'].'</a>';

          $html = '<div class="alert alert-danger clearfix">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>'.App::$lang['warning'].'!  '.nbsp(3).'</strong>   '.App::$lang['check'].'  '.App::$lang['stock'].' '.App::$lang['products'].nbsp(5).'<a href="#" data-toggle="modal" data-target="#productosSinStock" class="btn btn-warning btn-xs btn-raised">'.App::$lang['view'].' '.App::$lang['products'].'</a>
          </div>';

          $productosSinStock .= '<li class="list-group-item clearfix">
            '.$p['nombre'].'  <div class="pull-right"><span class="label label-danger">'.$p['stock'].'</span> <span class="label label-info">'.$p['stock_min'].'</span>'.$link.'</div> 
          </li>';
        }
      }
      echo $html;
    ?>
      <!-- Modal -->
      <div class="modal fade text-left" id="productosSinStock" tabindex="-1" role="dialog" aria-labelledby="#productosSinStock">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><?php echo App::$lang['products']; ?></h4>
            </div>
            <div class="modal-body">
              <ul class="list list-group">
                <?php echo $productosSinStock;?>
              </ul>
              <a class="btn btn-info btn-raised" href="<?php echo App::Url();?>/gestion/listas_compra">
                <?php echo App::$lang['cart_list']; ?>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

