<ul class="nav nav-sidebar">
  <li <?php echo isActive( ''); ?> >
    <a href="<?php echo App::Url();?>/"><i class="material-icons">dashboard</i> Dashboard</a></li>
  <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
  <li <?php echo isActive( 'usuarios'); ?> >
    <a href="<?php echo App::Url();?>/gestion/usuarios"><i class="material-icons">person</i> <?php echo App::$lang['users']; ?></a></li>
  <li <?php echo isActive( 'clientes'); ?> >
    <a href="<?php echo App::Url();?>/gestion/clientes"><i class="material-icons">group</i>  <?php echo App::$lang['clients']; ?></a></li>
  <li <?php echo isActive( 'os_servicio'); ?> >
    <a href="<?php echo App::Url();?>/gestion/os_servicio"><i class="material-icons">local_shipping</i>  <?php echo App::$lang['service_orders']; ?></a></li>
  <li <?php echo isActive( 'productos'); ?> >
    <a href="<?php echo App::Url();?>/gestion/productos"><i class="material-icons">insert_invitation</i>  <?php echo App::$lang['products']; ?></a></li>
  <li <?php echo isActive( 'servicios'); ?> >
    <a href="<?php echo App::Url();?>/gestion/servicios"><i class="material-icons">build</i>  <?php echo App::$lang['services']; ?></a></li>
  <li <?php echo isActive( 'listas_compra'); ?> >
    <a href="<?php echo App::Url();?>/gestion/listas_compra"><i class="material-icons">shopping_basket</i>  <?php echo App::$lang['cart_list']; ?></a></li>
  <li>
    <a data-toggle="collapse" href="#configuration" aria-expanded="false" aria-controls="configuration">
      <i class="material-icons">settings</i>
      <?php echo App::$lang['configuration']; ?>
    </a>
  </li>
  <div class="collapse" id="configuration">
    <ul class="list-unstyled desplegable">
      <li <?php echo isActive( 'categorias'); ?> >
        <a href="<?php echo App::Url();?>/gestion/categorias">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['categories']; ?>
        </a>
      </li>
      <li <?php echo isActive( 'marcas'); ?> >
        <a href="<?php echo App::Url();?>/gestion/marcas">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['trademark']; ?>
        </a>
      </li>
      <li <?php echo isActive( 'proveedores'); ?> >
        <a href="<?php echo App::Url();?>/gestion/proveedores">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['providers']; ?>
        </a>
      </li>
      <li <?php echo isActive( 'empresa'); ?> >
        <a href="<?php echo App::Url();?>/gestion/empresa">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['company']; ?>
        </a>
      </li>
      <li>
        <a href="<?php echo App::Url();?>/make/backup">
          <i class="material-icons">cloud</i> Backup
        </a>
      </li>
    </ul>
  </div>
  <?php }else{ ?>
  <li <?php echo isActive( 'clientes'); ?> >
    <a href="<?php echo App::Url();?>/gestion/clientes"><i class="material-icons">group</i>  <?php echo App::$lang['clients']; ?></a></li>
  <li <?php echo isActive( 'os_servicio'); ?> >
    <a href="<?php echo App::Url();?>/gestion/os_servicio"><i class="material-icons">local_shipping</i>  <?php echo App::$lang['service_orders']; ?></a></li>
  <li <?php echo isActive( 'productos'); ?> >
    <a href="<?php echo App::Url();?>/gestion/productos"><i class="material-icons">insert_invitation</i>  <?php echo App::$lang['products']; ?></a></li>
  <li <?php echo isActive( 'servicios'); ?> >
    <a href="<?php echo App::Url();?>/gestion/servicios"><i class="material-icons">build</i>  <?php echo App::$lang['services']; ?></a></li>
  <li <?php echo isActive( 'listas_compra'); ?> >
    <a href="<?php echo App::Url();?>/gestion/listas_compra"><i class="material-icons">shopping_basket</i>  <?php echo App::$lang['cart_list']; ?></a></li>
  <li>
    <a data-toggle="collapse" href="#configuration" aria-expanded="false" aria-controls="configuration">
      <i class="material-icons">settings</i>
      <?php echo App::$lang['configuration']; ?>
    </a>
  </li>
  <div class="collapse" id="configuration">
    <ul class="list-unstyled desplegable">
      <li <?php echo isActive( 'categorias'); ?> >
        <a href="<?php echo App::Url();?>/gestion/categorias">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['categories']; ?>
        </a>
      </li>
      <li <?php echo isActive( 'marcas'); ?> >
        <a href="<?php echo App::Url();?>/gestion/marcas">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['trademark']; ?>
        </a>
      </li>
      <li <?php echo isActive( 'proveedores'); ?> >
        <a href="<?php echo App::Url();?>/gestion/proveedores">
          <i class="material-icons">settings_applications</i>
          <?php echo App::$lang['providers']; ?>
        </a>
      </li>
    </ul>
  </div>
  <?php };?>
</ul>

