html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  padding-top: 50px;
}

.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.bg-1 {
  font-weight: 700;
  color: white !important;
  background: #f44336 !important;
}

.bg-2 {
  font-weight: 700;
  color: white !important;
  background: #e91e63 !important;
}

.bg-3 {
  font-weight: 700;
  color: white !important;
  background: #9c27b0 !important;
}

.bg-4 {
  font-weight: 700;
  color: white !important;
  background: #673ab7 !important;
}

.bg-5 {
  font-weight: 700;
  color: white !important;
  background: #3f51b5 !important;
}

.bg-6 {
  font-weight: 700;
  color: white !important;
  background: #2196f3 !important;
}

.bold {
  font-weight: bold;
}

.preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: white;
  background: #3f51b5;
}

.preloader img {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar i {
  margin-top: -.2em;
  margin-right: .1em;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    top: 51px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    color: #fff;
    background-color: #343a5d;
  }
}

.nav-sidebar {
  margin: 0;
  margin-top: .6em;
}

.nav-sidebar > li > a {
  padding: 0;
  transition: all 500ms ease;
  color: #fff;
  border-bottom: 1px solid #2c2f41;
  background: #343a5d;
}

.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover {
  transition: all 500ms ease;
  text-decoration: none;
  color: #fff;
  border-color: #017b70;
  background: #009688;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  transition: all 500ms ease;
  text-decoration: none;
  color: #fff;
  border-color: #017b70;
  background: url('../img/menu-active.png') no-repeat scroll right center #009688 !important;
}

.nav-sidebar > li > a:focus > i,
.nav-sidebar > li > a:hover > i,
.nav-sidebar > .active > a > i,
.nav-sidebar > .active > a:hover > i,
.nav-sidebar > .active > a:focus > i {
  transition: all 500ms ease;
  color: #fff;
  border-right: 1px solid #017b70;
  background-color: #017b70;
}

ul.nav.nav-tabs {
  background: #fff;
  color: black;
}

.nav-tabs>li {
  border: 1px solid #ddd;
  border-bottom: 0;
  border-right: 0;
}

.nav-tabs>li:last-child {
  border-right: 1px solid #ddd;
}

.nav-tabs>li.active>a {
  background: #03a9f4 !important;
  color: #fff!important;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-top: -50px;
  background: url('../img/bg-login.jpg') center center no-repeat;
  background-size: cover;
}

.login:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: .6;
  background: #3f51b5;
}

.notif div {
  font-family: 'Consolas', monospace;
  font-size: 14px;
  position: fixed;
  z-index: 999999999;
  right: 1em;
  bottom: 1em;
  display: block;
  min-width: 16em;
  padding: .2em 1.1em;
  color: #fff;
  border-radius: 4px;
}

.notif div h3 {
  font-size: 1.2em;
  margin: .3em 0;
  padding: .4em 0;
  color: #ffeb3b;
  border-bottom: 1px solid #ffeb3b;
}

.nav-sidebar > li > a > i {
  margin-right: .5em;
  padding: .6em .5em;
  color: #009688;
  border-right: 1px solid #2c2f41;
  background: #343a5d;
}

.no-margin .panel-body {
  margin: 0;
  padding: 0;
}

td:first-child {
  text-transform: capitalize;
}

.no-margin .panel-body table {
  margin: 0;
}

.no-margin .panel-body table th {
  font-weight: normal;
  color: #3f4d9d;
  border-color: #e2e2e2;
  background: #e2e2e2;
}

.alert,
.alert.alert-default {
  color: #898787;
  background-color: #f5f5f5;
}

form.fixed-right {
  position: fixed;
  right: 0;
}

form.fixed-right select {
  width: auto;
  padding: .5em 1em;
  text-transform: capitalize;
  color: white;
  border-color: #7580bb;
  background: #7f8ac6;
}

@media(max-width:460px) {
  form.fixed-right {
    position: relative;
    right: 0;
  }
  form.fixed-right select {
    width: 100%;
  }
}

.grafico {
  padding: 0;
}

.panel-body.notas {
  overflow-y: auto;
  height: 21em;
}

.panel-heading-custom {
  line-height: 2em;
  clear: both;
  overflow: hidden;
  padding: 0;
  border-bottom: 4px solid #03a9f4 !important;
}

.panel-heading i {
  line-height: 1.5;
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
  text-align: center;
  color: #a0a4a4;
  border-right: 1px solid #c5caca;
  background: #eee;
}

.modal-header {
  min-height: 4.5em;
  color: white;
  background: #1c80cf;
}

.modal-footer {
  background: #ececec;
}

.list .list-group-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px !important;
  border: 1px solid #ddd !important;
  overflow: visible;
}

.dropdown-menu .active a {
  color: #009688 !important;
  background: #3b4994 !important;
}

.desplegable {
  margin: 0;
  padding: 0;
  background: #31354f;
}

.desplegable a {
  font-size: 15px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #9e9e9e;
  border-bottom: 1px solid #1f202a;
  background: #2c2f41;
}

.desplegable > li > a > i {
  margin-right: .5em;
  padding: .3em .5em;
  transition: all 500ms ease;
  color: #f44336;
  border-right: 1px solid #2c2f41;
  background: #282a3b;
}

.desplegable > li > a:hover,
.desplegable > li > a:focus {
  transition: all 500ms ease;
  text-decoration: none;
  color: #fff;
  background: #f44336;
}

.desplegable > li > a:hover i,
.desplegable > li > a:focus i {
  transition: all 500ms ease;
  color: #f44336;
  background: #282a3b;
}

.table-sortable tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

.table-sortable th {
  cursor: pointer;
}

th.asc:before,
th.desc:before {
  display: block;
  float: right;
  width: 0;
  height: 0;
  content: '';
  border: .4em solid transparent;
}

th.asc:before {
  margin-top: .4em;
  border-top-width: 0;
  border-bottom-color: inherit;
}

th.desc:before {
  margin-top: .5em;
  border-top-color: inherit;
  border-bottom-width: 0;
}

.desplegable .active a {
  color: #fff;
  background: #009688;
}

.panel-body {
  display: block;
  width: 100%;
}

.btn-group .btn {
  font-size: 24px;
}

.dropdown-menu {
  right: 0 !important;
  left: auto;
}

.easy-autocomplete {
  position: relative;
  width: 100% !important;
}

.categoria {
  width: calc(100%/6 - 1em);
  margin: 0.5em;
  overflow: hidden;
  text-align: center;
  border: 1px solid #d8d3d3;
  transition: all 500ms ease;
  position: relative;
}

@media(max-width:1190px) {
  .categoria {
    width: calc(100%/4 - 1em);
    margin: 0.5em;
  }
}

@media(max-width:1020px) {
  .categoria {
    width: calc(100%/2 - 1em);
    margin: 0.5em;
  }
}

@media(max-width:600px) {
  .categoria {
    width: 100%;
    margin: 1em;
  }
  .categoria img {
    height: auto;
  }
}

.categoria img {
  display: block;
  width: 100%;
  padding: 0.5em;
  height: 10em;
}

.categoria a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.categoria:hover {
  background: #F44336;
  transition: all 500ms ease;
}

.categoria:hover a {
  color: white;
  transition: all 500ms ease;
}

.categoria span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 10em;
  padding-top: 0;
  background: #009688;
  opacity: 0;
  visibility: hidden;
  transition: all 1000ms linear;
}

.categoria:hover span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 10em;
  background: #009688;
  color: white;
  padding-top: 3em;
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease;
}

.panel-footer-custom {
  padding: 0 5px;
}

.completado {
  text-decoration: line-through;
  font-style: italic;
  color: #808080;
}

.sumToStock,
.sumToStock:focus,
.sumToStock:hover {
  padding: 0.4em 1em;
  text-decoration: none;
}

#preview-content {
    word-wrap: break-word;
}

.logo{
  text-align:center;
}
.logo img {
    width: 180px;
}
