body {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 13px;
  font-weight: 300;
  box-sizing: border-box;
  width: 1191px;
  height: 842px;
  margin: 0 auto;
  color: #000;
  background: #009688;
}

.wrapper {
  width: 1191px;
  height: 842px;
  margin: 0 auto;
  background: url('../img/bg-preview.png') no-repeat center center scroll rgb(255, 255, 255);
  background-size: cover;
}

header.header {
  overflow: hidden;
  height: 134px;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}

.subheader {
  overflow: hidden;
  height: 74px;
}

.left {
  float: left;
  width: 291px;
  padding: 10px;
  text-align: left;
}

.right {
  float: left;
  padding: 7px;
}

.title {
  float: left;
  width: 680px;
}

h3 {
  font-size: 25px;
  margin: 2px 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul li {
  display: inline-block;
}

.invoiceNumber {
  float: left;
  width: 182px;
}

.invoiceNumber p {
  margin: 2px 0;
}

.incidencia {
  position: relative;
  height: 36px;
  margin: 10px;
  border: 1px solid #f1f1f1;
  background: #f4f4f4;
}

.incidencia > strong {
  color: #000000;
}
.incidencia  p{
  display: inline;
}

.incidencia li:first-child {
  padding: 10px 16px;
  color: #fff;
  background: #000000;
}

.incidencia ul li {
  margin-right: 10px;
  padding: 6px;
  text-align: left;
}

.incidencia > strong {
  margin-right: 6px;
  margin-left: 10px;
}

main {
  width: 1170px;
  margin: 0 auto;
}

.sintomas {
  overflow: hidden;
  height: 200px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.sintomas p,
.reparacion p {
  margin: 2px;
  padding: 0;
}

.user_app {
  position: relative;
  overflow: hidden;
  height: 44px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.user_app span {
  float: left;
  width: 557px;
  height: 17px;
  margin: 5px 3px;
  padding: 10px;
  text-align: left;
  color: #000;
  background: rgba(253, 253, 253, 0);
}

.reparacion {
  width: 1170px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
}

h4 {
  font-size: 17px;
  margin: 10px 0;
}

footer {
  overflow: hidden;
  width: 1170px;
  height: 215px;
  margin: 0 auto;
}

.col:first-child {
  border-left: 1px solid #c0bebe;
}

.col {
  position: relative;
  float: left;
  width: calc(1112px/3 - 2px);
  height: 55px;
  padding: 10px;
  text-align: right;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #fff;
  background: #fff;
}

.terminos {
  float: left;
  width: 1148px;
  height: 75px;
  margin-top: 0;
  padding: 10px;
  color: #000;
  border: 1px solid #dcdcdc;
  border-top: none;
  background: #eee;
}

.invoiceNumber p {
  margin: 2px 0;
}

.col p:first-child {
  font-weight: bold;
  height: 33px;
  margin: 0;
}

.col p:last-child {
  text-align: right;
  text-transform: capitalize;
}

.col:last-child p:last-child {
  font-size: 26px;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}

.sintomas span {
  float: left;
  width: 557px;
  height: 170px;
  margin: 5px 3px;
  padding: 10px;
  color: #000;
  background: rgba(253, 253, 253, 0);
}

.reparacion span:last-child {
  margin-right: 0;
}

.reparacion span {
  float: left;
  overflow: hidden;
  width: 367px;
  height: 250px;
  margin: 0;
  margin: 5px 7px;
  padding: 0;
  padding: 2px 5px;
  background: rgba(253, 253, 253, 0);
}

.terminos > strong:first-child {
  text-transform: uppercase;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.notification-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, .55);
}

.notification-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: calc(100%/3);
  height: 230px;
  margin: auto;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 5px 5px -5px #000;
}

.notification-content a {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  transition: all 500ms ease;
  text-decoration: none;
  color: white;
  background: #2196f3;
}

.notification-content .header {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 22px;
  padding: 5px 20px;
  text-align: left;
  color: #607d8b;
  border-bottom: 1px solid #d2d1d1;
  background: #faf5f5;
}

.notification-content .content {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  padding: 5px 15px;
  text-align: left;
  color: #607d8b;
  background: #fbfbfb;
}

.notification-content a:hover,
.notification-content a:focus {
  transition: all 500ms ease;
  color: white;
  background: red;
}

@media print {
  .notification {
    display: none;
  }
}

.lista-wrapper {
  display: block;
  background: #fff;
  margin: 2em auto;
  box-sizing: border-box;
}

.lista-wrapper .main {
  margin: 4em auto;
  display: block;
  height: auto;
  box-sizing: border-box;
}

.lista-wrapper .right {
  padding: 16px;
}

.lista-wrapper .subheader {
  height: auto!important;
}

.lista-compra {
  min-height: calc(100% - 17em);
  display: block;
  overflow: hidden;
}

ul.lista {
  margin: 1em auto;
  padding: 0;
  width: calc(100% - 10em);
  list-style: none;
  line-height: 2;
  font-size: 16px;
  position: relative;
}

span.pull-right {
  float: right;
}

li.list-group-item.clearfix {
  overflow: hidden;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-bottom: 6px;
}

.print-only{
  display:none;
}
@media print{
  body{
    background:white;
  }
  .print-only{
    display:block;
  }
}