<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="saveClient" id="saveClient" value="<?php echo App::$lang['add']; ?>">
      <a href="<?php echo App::Url();?>/gestion/clientes" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['add']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="name" id="nombre" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['last_name']; ?>
            </label>
            <input type="text" name="last_name" id="apellidos" class="form-control">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['dni']; ?>
            </label>
            <input type="text" name="dni" id="dni" class="form-control" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tlf</label>
            <input type="text" name="tlf" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['email']; ?>
            </label>
            <input type="email" name="email" id="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['address']; ?>
            </label>
            <input type="text" name="address" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['locality']; ?>
            </label>
            <input type="text" name="locality" class="form-control">
          </div>
          <div class="form-group">
            <label>C.P</label>
            <input type="text" name="cp" class="form-control">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observations" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

<script>

  var dni = $('#dni');

  // dni
  checkIfExists(dni,'clientes','c_dni');

  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b){
              alert('<?php echo App::$lang["data_exists"];?>');
              name.focus().parent().addClass('has-error');
            }
          });
        });
      }
    });
  }
</script>