<form action="" method="post" class="form" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="saveProduct" value="<?php echo App::$lang['add']; ?>">
      <a href="<?php echo App::Url();?>/gestion/productos" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">insert_invitation</i>
      <?php echo App::$lang['add']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name'];?>
            </label>
            <input type="text" class="form-control" name="name" id="nombre" required>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['purchase_price'];?>
                </label>
                <input type="text" class="form-control" name="purchase_price" required value="0.00">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['sales_price'];?>
                </label>
                <input type="text" class="form-control" name="sales_price" required value="0.00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['stock'];?>
                </label>
                <input type="number" class="form-control" name="stock" required min="1" value="1">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['stock_min'];?>
                </label>
                <input type="number" class="form-control" name="stok_min" required min="1" value="1">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['category'];?>
            </label>
            <select name="category" class="form-control">
              <?php
                    $categories = App::Db()->select('categorias',array('modelo'));
                    foreach($categories as $c){
                     echo '<option value="'.$c['modelo'].'">'.$c['modelo'].'</option>';
                    }
                ?>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['trademark'];?>
                </label>
                <select name="trademark" class="form-control">
                  <?php
                          $trademark = App::Db()->select('marcas',array('nombre'));
                          foreach($trademark as $tr){
                           echo '<option value="'.$tr['nombre'].'">'.$tr['nombre'].'</option>';
                          }
                      ?>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['provider'];?>
                </label>
                <select name="provider" class="form-control">
                  <?php
                        $provider = App::Db()->select('proveedores',array('nombre'));
                        foreach($provider as $pv){
                         echo '<option value="'.$pv['nombre'].'">'.$pv['nombre'].'</option>';
                        }
                    ?>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="file" name="photo" accept="image/jpg">
            <div class="input-group">
              <input type="text" readonly="" class="form-control" placeholder="<?php echo App::$lang['image'];?>">
              <span class="input-group-btn input-group-sm">
                    <button type="button" class="btn btn-fab btn-fab-mini">
                      <i class="material-icons">attach_file</i>
                    </button>
                  </span>
            </div>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations'];?>
            </label>
            <textarea name="observations" class="form-control" rows="5"></textarea>
          </div>
        </div>
      </div>
</form>
</div>
<!-- panel-body -->
</div>
<!-- panel -->
</form>

<script>
  var nombre = $('#nombre');
  // compara nombre
  checkIfExists(nombre,'productos','nombre');
  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b){
              alert('<?php echo App::$lang["data_exists"];?>');
              name.focus().parent().addClass('has-error');
            }
          });
        });
      }
    });
  }
</script>