<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-info btn-raised" name="saveList" value="<?php echo App::$lang['add']; ?>">
      <a href="<?php echo App::Url();?>/gestion/listas_compra" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['add']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" class="form-control" name="nombre" id="nombre" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['date']; ?>
            </label>
            <input type="date" class="form-control" name="fecha_compra" required>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

<script>
  var nombre = $('#nombre');
  // compara nombre
  checkIfExists(nombre,'lista_compra','nombre');

  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b)
              alert('<?php echo App::$lang["data_exists"];?>');
              name.focus().parent().addClass('has-error');
          });
        });
      }
    });
  }
</script>