<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="saveServiceOrder" value="<?php echo App::$lang['add']; ?>">
      <a href="<?php echo App::Url();?>/gestion/os_servicio" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['add']; ?> |
      <?php echo App::$lang['service_orders']; ?>
    </div>
    <div class="panel-body">
      <input type="hidden" name="usuario_id" value="<?php echo App::SessionGet('app_id');?>">
      <input type="hidden" name="total" class="form-control" value="0">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['client_name'];?>
            </label>
            <input type="text" class="form-control" id="clientes" required>
            <input type="hidden" name="cliente_id" id="cliente_id">
            <a href="#" data-toggle="modal" data-target="#addClient" class="btn btn-sm btn-raised">
              <?php echo App::$lang['add'];?>
              <?php echo App::$lang['client'];?>
            </a>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['date'];?>
                </label>
                <input type="text" name="fecha" class="form-control" value="<?php echo date('d/m/Y');?>" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['delivery_date'];?>
                </label>
                <input type="date" name="fecha_entrega" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['first_date'];?>
                </label>
                <input type="date" name="fecha_inicial" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['end_date'];?>
                </label>
                <input type="date" name="fecha_final" class="form-control">
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <?php echo App::$lang['garanty'];?>
              <input name="garantia" type="checkbox">
            </label>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['status'];?>
            </label>
            <select name="estado" class="form-control" required>
              <option value="en-espera">
                <?php echo App::$lang['onhold'];?>
              </option>
              <option value="ok">
                Ok
              </option>
              <option value="avisado">
                <?php echo App::$lang['informed'];?>
              </option>
              <option value="pendiente">
                <?php echo App::$lang['pending'];?>
              </option>
              <option value="pendiente-piezas">
                <?php echo App::$lang['pending-pieces'];?>
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <h3><?php echo App::$lang['has_left'];?></h3>
          <div class="checkbox">
            <label>Cds
              <input name="cds" type="checkbox">
            </label>
            <label>
              <?php echo App::$lang['charger'];?>
              <input name="cargador" type="checkbox">
            </label>
            <label>
              <?php echo App::$lang['case'];?>
              <input name="maletin" type="checkbox">
            </label>
          </div>

          <div class="form-group">
            <label>
              <?php echo App::$lang['others'];?>
            </label>
            <textarea name="otros" rows="5" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label>
              <?php echo App::$lang['product_description'];?>
            </label>
            <textarea name="descripcion_equipo" rows="5"  class="form-control" required></textarea>
          </div>

          <div class="form-group">
            <label>
              <?php echo App::$lang['user'];?>
            </label>
            <?php $usuario = App::Db()->get('usuarios',array('u_nombre','u_apellidos'),array('usuario_id' => App::SessionGet('app_id')));?>
            <input type="text" class="form-control" disabled value="<?php echo $usuario['u_nombre'].' '.$usuario['u_apellidos'];?>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['symptom'];?>
            </label>
            <textarea name="sintomas" rows="5" id="editor-1" class="form-control" required></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['diagnostic'];?>
            </label>
            <textarea name="diagnostico" rows="5" id="editor-2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['repairs'];?>
            </label>
            <textarea name="reparacion" rows="5" id="editor-3" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>
<!-- Modal -->
<div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-labelledby="addClient">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo App::$lang['add'];?> <?php echo App::$lang['client'];?></h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" class="form">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['last_name']; ?>
            </label>
            <input type="text" name="last_name" class="form-control">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['dni']; ?>
            </label>
            <input type="text" name="dni" id="dni" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Tlf</label>
            <input type="text" name="tlf" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['email']; ?>
            </label>
            <input type="email" name="email" id="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['address']; ?>
            </label>
            <input type="text" name="address" class="form-control">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['locality']; ?>
            </label>
            <input type="text" name="locality" class="form-control">
          </div>
          <div class="form-group">
            <label>C.P</label>
            <input type="text" name="cp" class="form-control">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observations" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="saveNewClient" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['add']; ?>">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
var getClients = {
  url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/clientes",
  getValue: function(element) {
    return element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onSelectItemEvent: function() {
      var data = $("#clientes").getSelectedItemData();
      $("#cliente_id").val(data.cliente_id);
    }
  }
};
$("#clientes").easyAutocomplete(getClients);


  var opcionesEditor = {
      btns: [
      'btnGrp-semantic',
      ['horizontalRule']
  ],
      autogrow: true,
      lang: '<?php echo App::$config["lenguaje"];?>'
  };


  $('#editor-1').trumbowyg(opcionesEditor);
  $('#editor-2').trumbowyg(opcionesEditor);
  $('#editor-3').trumbowyg(opcionesEditor);
</script>