<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="saveService" value="<?php echo App::$lang['add']; ?>">
      <a href="<?php echo App::Url();?>/gestion/servicios" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['add']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="nombre" class="form-control" id="nombre" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['price']; ?>
            </label>
            <input type="number" name="precio" class="form-control" required min="0">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observaciones" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['description']; ?>
            </label>
            <textarea name="descripccion" id="editor-1" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

<script>
  var nombre = $('#nombre');
  // compara nombre
  checkIfExists(nombre,'servicios','nombre');
  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b){
              alert('<?php echo App::$lang["data_exists"];?>');
              name.focus().parent().addClass('has-error');
            }
          });
        });
      }
    });
  }
  var opcionesEditor = {
      btns: [
      'btnGrp-semantic',
      ['horizontalRule']
  ],
      autogrow: true,
      lang: '<?php echo App::$config["lenguaje"];?>'
  };

  $('#editor-1').trumbowyg(opcionesEditor);
</script>