<?php include INCLUDES.'/head.html';?>
<?php include INCLUDES.'/navbar.html';?>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <?php include INCLUDES.'/sidebar.html';?>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <?php include PLANTILLA.'/rutas_html/'.$file; ?>
    </div>
  </div>
</div>
<?php include INCLUDES.'/footer.html';?>

