<?php include INCLUDES.'/head.html';?>
<seccion class="login">
  <!-- cambiar lenguaje -->
  <form action="" method="post" class="fixed-right">
    <select name="lenguaje" id="lenguaje">
      <option value="<?php echo App::SessionGet('lenguaje');?>">
        <?php echo App::$lang['language'];?>
      </option>
      <option value="es">Es</option>
      <option value="en">En</option>
    </select>
  </form>
  <script>
  document.querySelector('#lenguaje').addEventListener('change', function() {
    window.location.href = '<?php echo App::Url();?>/lenguaje/' + document.querySelector('#lenguaje').value;
  });

  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- panel -->
            <div class="panel panel-inverse" style="margin-top:3em;">
              <div class="panel-heading logo">
                <?php echo logo(); ?>
              </div>
              <div class="panel-body">
                <!-- login title -->
                <form class="form" name="login" method="post" role="form">
                  <div class="form-group">
                    <label class="sr-only">
                      <?php echo App::$lang['email']; ?>
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="material-icons">face</i>
                      </div>
                      <input type="text" name="email" id="email" class="form-control" placeholder="<?php echo App::$lang['email']; ?>" required autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="sr-only">
                      <?php echo App::$lang['password']; ?>
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="material-icons">lock</i>
                      </div>
                      <input type="password" name="password" id="password" class="form-control" placeholder="<?php echo App::$lang['password']; ?>" required>
                    </div>
                  </div>
              </div>
              <div class="panel-footer clearfix">
                <input type="submit" name="auth" class="btn btn-raised btn-inverse pull-right" value="<?php echo App::$lang['enter']; ?>">
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</seccion>
<?php include INCLUDES.'/footer.html';?>

