<link rel="stylesheet" href="<?php echo App::Url();?>/plantilla/assets/css/preview.css">
<div class="wrapper">
  <header class="header">
    <div class="subheader">
      <div class="left">
        <div class="logo"><img class="img-responsive" src="<?php echo $logo; ?>"></div>
      </div>
      <div class="right">
        <div class="title">
          <h3><?php echo App::$lang['checkbook_technical_service'];?></h3>
          <ul>
            <li><strong><?php echo App::$lang['client'];?>: </strong>
              <?php echo $item['c_nombre'];?>
              <?php echo $item['c_apellidos'];?>
            </li>
            <li><strong>Tlf: </strong>
              <?php echo $item['c_tlf'];?>
            </li>
          </ul>
        </div>
        <div class="invoiceNumber">
          <h3><strong>Nº: </strong><?php echo $item['os_id'];?></h3>
          <p><strong><?php echo App::$lang['date']; ?>: </strong>
            <?php echo $item['fecha'];?>
            <br>
            <strong><?php echo App::$lang['delivery_date']; ?>: </strong>
            <?php
              $originalDate = $item['fecha_entrega'];
              $newDate = date("d/m/Y", strtotime($originalDate));
              echo $newDate;
            ?>
          </p>
        </div>
      </div>
    </div>
    <div class="incidencia">
      <ul>
        <li>INCIDENCIA: </li>
        <li>
          <strong>Cds</strong>
          <?php echo ($item['cds']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['charger'];?></strong>
          <?php echo ($item['cargador']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['case'];?></strong>
          <?php echo ($item['maletin']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['others'];?></strong>
          <?php echo $item['otros'];?>
        </li>
        <li>
          <strong>
            <?php echo App::$lang['product_description'];?> :
          </strong>
          <?php echo $item['descripcion_equipo'];?>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="sintomas">
      <span>
        <h4><?php echo App::$lang['products'];?> :</h4>
        <?php
          $stock = '';
          if($os_producto){
            foreach($os_producto as $p_item){
              if($p_item['stock'] <= $p_item['stock_min'] || $p_item['stock_min'] < 1){
                $stock = '<small style="color: #fff;background: red;padding: 5px 10px;margin: 5px 0;display: block;"><strong>'.App::$lang['warning'].'!  '.nbsp(3).'</strong>   '.App::$lang['check'].'  '.App::$lang['stock'].'</small>';
              }
              echo '<p>'.$p_item['nombre'].' <strong>'.nbsp(6).App::$lang['price'].':    </strong>'.$p_item['subtotal'].'€ </p>';
            }
          }
        ?>
      </span>
      <span>
        <h4><?php echo App::$lang['services'];?> :</h4>
        <?php
          if($os_servicio){
            foreach($os_servicio as $s_item){
              echo '<p>'.$s_item['nombre'].' <strong>'.nbsp(6).App::$lang['price'].':    </strong>'.$s_item['subtotal'].'€</p>';
            }
          }
        ?>
      </span>
    </div>
    <div class="user_app">
      <span><strong><?php echo App::$lang['tecnical'];?> / <?php echo App::$lang['responsible'];?>: </strong> <?php echo $item['u_nombre'];?> <?php echo $item['u_apellidos'];?></span>
      <span><strong><?php echo App::$lang['shop_contact'];?>: </strong> <?php echo $details; ?></span>
    </div>
    <div class="reparacion">
      <span>
        <h4><?php echo App::$lang['symptom'];?> :</h4>
        <p><?php echo $item['sintomas'];?></p>
      </span>
      <span>
        <h4><?php echo App::$lang['diagnostic'];?>:</h4>
        <p><?php echo $item['diagnostico'];?></p>
      </span>
      <span>
        <h4><?php echo App::$lang['repairs'];?>:</h4>
        <p><?php echo $item['reparacion'];?></p>
      </span>
    </div>
  </main>
  <footer>
    <div class="row">
      <div class="col">
        <p class="firma"></p>
        <p><small>firma del cliente</small></p>
      </div>
      <div class="col">
        <p class="sello"></p>
        <p><small>Sello del servicio Tecnico</small></p>
      </div>
      <div class="col">
        <p><strong>TOTAL: <?php echo number_format((float) $productosTotal + $serviciosTotal ,2);?> €</strong></p>
      </div>
    </div>
    <div class="terminos">
      <strong><?php echo App::$lang['important'];?>: </strong>
      <?php echo $terms;?>
    </div>
  </footer>
</div>
<div class="notification">
  <div class="notification-overlay"></div>
  <div class="notification-content">
    <a href="javascript:void(0)">&times;</a>
    <div class="header">Configuracion</div>
    <div class="content">
      <p>
        <strong>Use Ctrl+p para imprimir </strong>
        <br> Paginas: <strong>1 </strong>
        <br> Diseño: <strong>Vertical </strong>
        <br> Tamaño: <strong>A4 </strong>
        <br> Margenes: <strong>Sin Margenes</strong>
        <br>
        <?php echo $stock;?>
      </p>
    </div>
  </div>
</div>

<div class="print-only">

  <hr>

  <div class="wrapper">
  <header class="header">
    <div class="subheader">
      <div class="left">
        <div class="logo"><img class="img-responsive" src="<?php echo $logo; ?>"></div>
      </div>
      <div class="right">
        <div class="title">
          <h3><?php echo App::$lang['checkbook_technical_service'];?></h3>
          <ul>
            <li><strong><?php echo App::$lang['client'];?>: </strong>
              <?php echo $item['c_nombre'];?>
              <?php echo $item['c_apellidos'];?>
            </li>
            <li><strong>Tlf: </strong>
              <?php echo $item['c_tlf'];?>
            </li>
          </ul>
        </div>
        <div class="invoiceNumber">
          <h3><strong>Nº: </strong><?php echo $item['os_id'];?></h3>
          <p><strong><?php echo App::$lang['date']; ?>: </strong>
            <?php echo $item['fecha'];?>
            <br>
            <strong><?php echo App::$lang['delivery_date']; ?>: </strong>
            <?php
              $originalDate = $item['fecha_entrega'];
              $newDate = date("d/m/Y", strtotime($originalDate));
              echo $newDate;
            ?>
          </p>
        </div>
      </div>
    </div>
    <div class="incidencia">
      <ul>
        <li>INCIDENCIA: </li>
        <li>
          <strong>Cds</strong>
          <?php echo ($item['cds']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['charger'];?></strong>
          <?php echo ($item['cargador']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['case'];?></strong>
          <?php echo ($item['maletin']) ? App::$lang['yes'] : 'No';?>
          <strong><?php echo App::$lang['others'];?></strong>
          <?php echo $item['otros'];?>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="sintomas">
      <span>
        <h4><?php echo App::$lang['products'];?> :</h4>
        <?php
          $stock = '';
          if($os_producto){
            foreach($os_producto as $p_item){
              if($p_item['stock'] <= $p_item['stock_min'] || $p_item['stock_min'] < 1){
                $stock = '<small style="color: #fff;background: red;padding: 5px 10px;margin: 5px 0;display: block;"><strong>'.App::$lang['warning'].'!  '.nbsp(3).'</strong>   '.App::$lang['check'].'  '.App::$lang['stock'].'</small>';
              }
              echo '<p>'.$p_item['nombre'].' <strong>'.nbsp(6).App::$lang['price'].':    </strong>'.$p_item['subtotal'].'€ </p>';
            }
          }
        ?>
      </span>
      <span>
        <h4><?php echo App::$lang['services'];?> :</h4>
        <?php
          if($os_servicio){
            foreach($os_servicio as $s_item){
              echo '<p>'.$s_item['nombre'].' <strong>'.nbsp(6).App::$lang['price'].':    </strong>'.$s_item['subtotal'].'€</p>';
            }
          }
        ?>
      </span>
    </div>
    <div class="user_app">
      <span><strong><?php echo App::$lang['tecnical'];?> / <?php echo App::$lang['responsible'];?>: </strong> <?php echo $item['u_nombre'];?> <?php echo $item['u_apellidos'];?></span>
      <span><strong><?php echo App::$lang['shop_contact'];?>: </strong> <?php echo $details; ?></span>
    </div>
    <div class="reparacion">
      <span>
        <h4><?php echo App::$lang['symptom'];?> :</h4>
        <p><?php echo $item['sintomas'];?></p>
      </span>
      <span>
        <h4><?php echo App::$lang['diagnostic'];?>:</h4>
        <p><?php echo $item['diagnostico'];?></p>
      </span>
      <span>
        <h4><?php echo App::$lang['repairs'];?>:</h4>
        <p><?php echo $item['reparacion'];?></p>
      </span>
    </div>
  </main>
  <footer>
    <div class="row">
      <div class="col">
        <p class="firma"></p>
        <p><small>firma del cliente</small></p>
      </div>
      <div class="col">
        <p class="sello"></p>
        <p><small>Sello del servicio Tecnico</small></p>
      </div>
      <div class="col">
        <p><strong>TOTAL: <?php echo number_format((float) $productosTotal + $serviciosTotal ,2);?> €</strong></p>
      </div>
    </div>
    <div class="terminos">
      <strong><?php echo App::$lang['important'];?>: </strong>
      <?php echo $terms;?>
    </div>
  </footer>
</div>
</div>
<script>
document.querySelector('.notification-content').addEventListener('click', function() {
  document.querySelector('.notification').remove();
});

</script>

