<link rel="stylesheet" href="<?php echo App::Url();?>/plantilla/assets/css/preview.css">
<div class="lista-wrapper">
  <header class="header">
    <div class="subheader">
      <div class="left">
        <div class="logo"><img class="img-responsive" src="<?php echo $logo; ?>"></div>
      </div>
      <div class="right">
        <div class="title">
          <h3><?php echo $lista_compra['nombre'];?>  <?php echo date("d/m/Y", strtotime($lista_compra['fecha_compra']));?></h3>
          <p>
            <?php echo $details;?> </p>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="lista-compra">
      <ul class="lista">
        <?php
            $listaProductos = unserialize($lista_compra['productos']);
            foreach($listaProductos as $lista_compra){
              echo '<li class="list-group-item clearfix">
                '.$lista_compra['nombre'].' <span class="pull-right"><strong>'.App::$lang['Quantity'].': </strong>'.$lista_compra['stock'].'</span>
              </li>';
            }
          ?>
      </ul>
    </div>
  </main>
</div>
<div class="notification">
  <div class="notification-overlay"></div>
  <div class="notification-content">
    <a href="javascript:void(0)">&times;</a>
    <div class="header">Configuracion</div>
    <div class="content">
      <p>
        <strong>Use Ctrl+p para imprimir </strong>
        <br> Paginas: <strong>1 </strong>
        <br> Diseño: <strong>Horizontal </strong>
        <br> Tamaño: <strong>A4 </strong>
        <br> Margenes: <strong>ninguno</strong>
        <br>
      </p>
    </div>
  </div>
</div>
<script>
document.querySelector('.notification-content').addEventListener('click', function() {
  document.querySelector('.notification').remove();
});

</script>

