<div class="row">
  <div class="col-md-8">
  <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
    <a href="<?php echo App::Url();?>/gestion/productos/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
    <a href="<?php echo App::Url();?>/gestion/productos" class="btn btn-danger btn-fab"><i class="material-icons">keyboard_backspace</i></a>
  <?php };?>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchthis">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchProduct" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">insert_invitation</i>
        <?php echo App::$lang['category'].'  '.$categoria;?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th class="hidden-xs hidden-sm">#</th>
              <th class="hidden-xs hidden-sm">
                <?php echo App::$lang['image'];?>
              </th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th class="hidden-xs hidden-sm">
                <?php echo App::$lang['sales_price'];?>
              </th>
              <th class="hidden-xs">
                <?php echo App::$lang['stock'];?>
              </th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php if(count($productos) > 0) foreach($productos as $item){ ?>
            <tr>
              <td class="hidden-xs hidden-sm">
                <?php echo $item['producto_id'];?>
              </td>
              <td class="hidden-xs hidden-sm"><img width="90" height="80" src="<?php echo App::Url().$item['imagen'];?>"></td>
              <td class="<?php if($item['stock'] <= $item['stock_min'] || $item['stock'] == 0) echo 'text-danger';?>">
                <?php echo $item['nombre'];?>
              </td>
              <td class="hidden-xs hidden-sm bold">
                <?php echo $item['precio_venta'];?> €</td>
              <td class="hidden-xs text-muted">
                <?php echo $item['stock'];?>
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <button class="btn btn-info  btn-raised <?php if($item['stock'] <= $item['stock_min'] || $item['stock'] == 0) echo 'btn-danger'; else echo 'btn-info'; ?>" data-toggle="modal" data-target="#id_<?php echo $item['producto_id'];?>" title="<?php echo App::$lang['view'];?>"><i class="material-icons">zoom_in</i></button>
                  <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
                  <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href=" <?php echo App::Url().'/gestion/productos/editar/'.$item['producto_id'];?>" title=" <?php echo App::$lang['edit'];?>">
                        <?php echo App::$lang['edit'];?>
                      </a>
                    </li>
                    <li>
                      <a onclick="return confirm('<?php echo App::$lang['areyousure'];?>')" href=" <?php echo App::Url().'/gestion/productos/borrar/'.$item['producto_id'];?>" title="<?php echo App::$lang['delete'];?>">
                        <?php echo App::$lang['delete'];?>
                      </a>
                    </li>
                  </ul>
                  <?php }; ?>
                </div>
                <!-- Modal -->
                <div class="modal fade text-left" id="id_<?php echo $item['producto_id'];?>" tabindex="-1" role="dialog" aria-labelledby="id_<?php echo $item['producto_id'];?>">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><?php echo App::$lang['company'];?></h4>
                      </div>
                      <div class="modal-body">
                        <?php if($item['stock'] <= $item['stock_min'] || $item['stock'] == 0){
                                echo '<div class="alert alert-warning">Alert Stock <em class="label label-danger pull-right">'.$item['stock_min'].'</em></div>';
                             }?>
                        <ul class="list list-group">
                          <li class="list-group-item"><strong><?php echo App::$lang['name']; ?></strong>
                            <?php echo $item['nombre']; ?>
                          </li>
                          <li class="list-group-item"><strong><?php echo App::$lang['purchase_price']; ?></strong>
                            <?php echo $item['precio_compra']; ?> €</li>
                          <li class="list-group-item"><strong><?php echo App::$lang['sales_price']; ?></strong>
                            <?php echo $item['precio_venta']; ?> €</li>
                          <li class="list-group-item"><strong><?php echo App::$lang['category']; ?></strong>
                            <?php echo $item['categoria']; ?>
                          </li>
                          <li class="list-group-item"><strong><?php echo App::$lang['provider']; ?></strong>
                            <?php echo $item['proveedor']; ?>
                          </li>
                          <li class="list-group-item"><strong><?php echo App::$lang['trademark']; ?></strong>
                            <?php echo $item['marca']; ?>
                          </li>
                          <li class="list-group-item bg-6">
                            <?php echo str_replace("\n",'<br>',$item['observaciones']); ?>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
      </div>
      <div class="panel-footer panel-footer-custom clearfix">
        <div class="pull-left">
          <?php if($prev){
            echo '<a class="btn btn-info btn-xs" href="'.$prev.'"><i class="material-icons">keyboard_arrow_left</i></a>';
          } ?>
        </div>
        <div class="pull-right">
          <?php if($next){
            echo '<a class="btn btn-info btn-xs" href="'.$next.'"><i class="material-icons">keyboard_arrow_right</i></a>';
          } ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php include INCLUDES.'/notificacion_productos.html';?>


<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getProducts = {
  url: "<?php echo App::Url();?>/gestion/productos/json/get/producto",
  getValue: function(element) {
    return element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchProduct").getSelectedItemData();

      $('#preview').modal('show');

      var observations = data.observaciones.split('\n').join('<br>');

      $('#preview-content').html([
        '<ul class="list-group list">',
          '<li class="list-group-item"><label class="label"><strong>Stock </strong>',data.stock,'</label></li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["name"];?> </strong>',data.nombre,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["purchase_price"];?> </strong>',data.precio_compra,'€</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["sales_price"];?> </strong>',data.precio_venta,'€</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["category"];?> </strong>',data.categoria,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["provider"];?> </strong>',data.proveedor,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["trademark"];?> </strong>',data.marca,'</li>',
          '<li class="list-group-item bg-6"><h3><?php echo App::$lang["observations"];?></h3>',observations,'</li>',
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchProduct').val('');
      });
    }
  }
};
$("#searchProduct").easyAutocomplete(getProducts);
</script>

