<div class="row">
  <div class="col-md-8">
    <a href="#" class="btn btn-info btn-fab" data-toggle="modal" data-target="#asd"><i class="material-icons">add</i></a>
    <!-- Modal -->
    <div class="modal fade" id="asd" tabindex="-1" role="dialog" aria-labelledby="asd">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo App::$lang['new'];?></h4>
          </div>
          <div class="modal-body">
            <form action="" method="post" class="form">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['name'];?>
                </label>
                <input type="text" name="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  <?php echo App::$lang['model'];?>
                </label>
                <input type="text" name="model" id="model" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  <?php echo App::$lang['description'];?>
                </label>
                <textarea class="form-control" name="description"></textarea>
              </div>
              <input type="submit" name="addCategory" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['edit'];?>">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchthis">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchthis" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">label</i>
        <?php echo App::$lang['category'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th class="visible-lg">#</th>
              <th class="hidden-xs">
                <?php echo App::$lang['name'];?>
              </th>
              <th>
                <?php echo App::$lang['model'];?>
              </th>
              <th class="visible-lg">
                <?php echo App::$lang['description'];?>
              </th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php
            $d = App::Db()->select('categorias','*');
            if(count($d) > 0) foreach($d as $item){?>
              <tr>
                <td class="visible-lg">
                  <?php echo $item['categoria_id'];?>
                </td>
                <td class="hidden-xs">
                  <?php echo $item['nombre'];?>
                </td>
                <td>
                  <?php echo $item['modelo'];?>
                </td>
                <td class="visible-lg">
                  <?php echo $item['descripccion'];?>
                </td>
                <td class="text-right">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-success btn-fab dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" data-toggle="modal" data-target="#id_<?php echo $item['categoria_id'];?>" title=" <?php echo App::$lang['edit'];?>">
                          <?php echo App::$lang['edit'];?>
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a onclick="return confirm('<?php echo App::$lang['areyousure'];?>')" href=" <?php echo App::Url().'/gestion/categorias/borrar/'.$item['categoria_id'];?>" title="<?php echo App::$lang['delete'];?>">
                          <?php echo App::$lang['delete'];?>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <!-- Modal -->
              <div class="modal fade text-left" id="id_<?php echo $item['categoria_id'];?>" tabindex="-1" role="dialog" aria-labelledby="id_<?php echo $item['categoria_id'];?>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title"><?php echo App::$lang['edit'];?> <?php echo App::$lang['category'];?></h4>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post" class="form">
                        <input type="hidden" name="id" value="<?php echo $item['categoria_id'];?>">
                        <div class="form-group">
                          <label>
                            <?php echo App::$lang['name'];?>
                          </label>
                          <input type="text" name="name" class="form-control" value="<?php echo $item['nombre'];?>">
                        </div>
                        <div class="form-group">
                          <label>
                            <?php echo App::$lang['model'];?>
                          </label>
                          <input type="text" name="model" class="form-control" value="<?php echo $item['modelo'];?>">
                        </div>
                        <div class="form-group">
                          <label>
                            <?php echo App::$lang['description'];?>
                          </label>
                          <textarea class="form-control" name="description"><?php echo $item['descripccion'];?></textarea>
                        </div>
                        <input type="submit" name="editCategory" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['edit'];?>">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <?php } ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  var nombre = $('#model');
  // compara nombre
  checkIfExists(nombre,'categorias','modelo');
  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b){
              alert('<?php echo App::$lang["data_exists"];?> ');
              name.focus().parent().addClass('has-error');
            }
          });
        });
      }
    });
  }
</script>