<div class="row">
  <div class="col-md-8">
    <a href="<?php echo App::Url();?>/gestion/clientes/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  </div>

  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchJson"><?php echo App::$lang['search'];?></label>
        <div class="input-group">
          <input type="text" id="searchJson" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
          <i class="material-icons">persons</i>
          <?php echo App::$lang['clients'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-stripedtable-sortable" id="table">
        <thead>
          <tr>
            <th>#</th>
            <th><?php echo App::$lang['name'];?></th>
            <th class="hidden-xs"><?php echo App::$lang['last_name'];?></th>
            <th class="hidden-xs hidden-sm"><?php echo App::$lang['dni'];?></th>
            <th class="hidden-xs hidden-sm"><?php echo App::$lang['email'];?></th>
            <th class="hidden-xs">Tlf</th>
            <th><?php echo App::$lang['options'];?></th>
          </tr>
        </thead>
        <tbody id="tbody">
          <?php
            $html = '';
            if(count($clientes) > 0 ) foreach($clientes as $user){
              $html .='
                <tr>
                  <td>'.$user['cliente_id'].'</td>
                  <td class="text-muted">'.$user['c_nombre'].'</td>
                  <td class="hidden-xs text-muted">'.$user['c_apellidos'].'</td>
                  <td class="hidden-xs hidden-sm">'.$user['c_dni'].'</td>
                  <td class="hidden-xs hidden-sm text-success">'.$user['c_email'].'</td>
                  <td class="hidden-xs text-warning">'.$user['c_tlf'].'</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-raised btn-info" href="#"  data-toggle="modal" data-target="#id_'.$user['cliente_id'].'" title="'.App::$lang['view'].'"><i class="material-icons">zoom_in</i></button>
                      <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="'.App::Url().'/gestion/clientes/editar/'.$user['cliente_id'].'" title="'.App::$lang['edit'].'">'.App::$lang['edit'].' </a></li>
                        <li> <a onclick="return confirm(\''.App::$lang['areyousure'].'\')" href="'.App::Url().'/gestion/clientes/borrar/'.$user['cliente_id'].'" title="'.App::$lang['delete'].'">'.App::$lang['delete'].'</a></li>
                      </ul>
                    </div>

                      <!-- Modal -->
                      <div class="modal fade text-left" id="id_'.$user['cliente_id'].'" tabindex="-1" role="dialog" aria-labelledby="id_'.$user['cliente_id'].'">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="id_'.$user['cliente_id'].'">&nbsp;</h4>
                            </div>
                            <div class="modal-body">
                              <ul class="list list-group">
                                <li class="list-group-item"><strong>'.App::$lang['name'].'</strong> '.$user['c_nombre'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['last_name'].'</strong> '.$user['c_apellidos'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['dni'].'</strong> '.$user['c_dni'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['email'].'</strong> '.$user['c_email'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['address'].'</strong> '.$user['c_direccion'].'</li>
                                <li class="list-group-item"><strong>Tlf </strong> '.$user['c_tlf'].'</li>
                                <li class="list-group-item"><strong>Cp</strong> '.$user['c_cp'].'</li>
                                <li class="well-sm text-muted list-group-item">'.$user['c_observaciones'].'</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                  </td>
                </tr>
              ';
            }
            echo $html;
          ?>
          </tbody>
        </table>
      </div>
      <div class="panel-footer panel-footer-custom clearfix">
        <div class="pull-left">
          <?php if($prev){
            echo '<a class="btn btn-info btn-xs" href="'.$prev.'"><i class="material-icons">keyboard_arrow_left</i></a>';
          } ?>
        </div>

        <div class="pull-right">
          <?php if($next){
            echo '<a class="btn btn-info btn-xs" href="'.$next.'"><i class="material-icons">keyboard_arrow_right</i></a>';
          } ?>
        </div>
      </div>
    </div>

  </div>
</div>






<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getProducts = {
  url: "<?php echo App::Url();?>/gestion/clientes/json/get/cliente",
  getValue: function(element) {
    return element.c_nombre+' '+element.c_apellidos;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchJson").getSelectedItemData();

      $('#preview').modal('show');

      var observations = data.c_observaciones.split('\n').join('<br>');

      $('#preview-content').html([
        '<ul class="list-group list">',
          '<li class="list-group-item"><strong><?php echo App::$lang["name"];?> </strong>',data.c_nombre,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["last_name"];?> </strong>',data.c_apellidos,'</li>',
          '<li class="list-group-item"><strong>Dni </strong>',data.c_dni,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["email"];?> </strong>',data.c_email,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["address"];?> </strong>',data.c_direccion,'</li>',
          '<li class="list-group-item"><strong>Tlf </strong>',data.c_tlf,'</li>',
          '<li class="list-group-item>',observations,'</li>',
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchJson').val('');
      });
    }
  }
};
$("#searchJson").easyAutocomplete(getProducts);
</script>






