<?php defined('ACCESSO') or die('No direct script access.'); ?>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">dashboard</i>
        <?php echo App::$lang['chart']; ?>
      </div>
      <div class="panel-body">
        <div class="lineas ct-golden-section"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix panel-heading-custom">
        <i class="material-icons">dashboard</i>
        <?php echo App::$lang['notes']; ?>
        <a href="javascript:void(0);" class="pull-right btn btn-xs btn-link" data-toggle="modal" data-target="#notesadd">
          <?php echo App::$lang['add_note']; ?>
        </a>
      </div>
      <div class="panel-body notas">
        <?php
        $notas = App::Db()->select('notas','*');
        $html = '<div class="list-group">';
        foreach(array_reverse($notas) as $nota){
          $visto = ($nota['visto'] == (int) 1) ? '<i class="material-icons" style="background:#009688;">thumb_up</i>' : '<i class="material-icons" style="background:#E91E63;">warning</i>';
          $html .= '
            <div class="list-group-item">
              <div class="row-action-primary">
                '.$visto.'
              </div>
              <div class="row-content">
                <div class="least-content">'.$nota['fecha'].'</div>
                <h4 class="list-group-item-heading">'.$nota['titulo'].'</h4>
                <p class="list-group-item-text">
                  '.$nota['descripccion'].'
                  <span class="pull-right">
                    <a class="btn btn-sm btn-primary" href="'.App::Url().'/gestion/notas/visto/id/'.$nota['notas_id'].'/estado/'.$nota['visto'].'">'.App::$lang['change_status'].'</a>
                    <a class="btn btn-sm btn-danger" href="'.App::Url().'/gestion/notas/borrar/id/'.$nota['notas_id'].'" onclick="return confirm(\''.App::$lang['areyousure'].'\')">'.App::$lang['delete'].'</a>
                  </span>
                </p>
              </div>
            </div>
            <div class="list-group-separator"></div>
          ';
        }
        $html .= '</div>';
        echo $html;
      ?>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-1 text-center">
        <h3><?php echo App::Db()->count('clientes'); ?></h3>
        <p>
          <?php echo App::$lang['clients']; ?>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-2 text-center">
        <h3><?php echo App::Db()->count('servicios'); ?></h3>
        <p>
          <?php echo App::$lang['services']; ?>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-3 text-center">
        <h3><?php echo App::Db()->count('categorias'); ?></h3>
        <p>
          <?php echo App::$lang['categories']; ?>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-4 text-center">
        <h3><?php echo App::Db()->count('productos'); ?></h3>
        <p>
          <?php echo App::$lang['products']; ?>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-5 text-center">
        <h3><?php echo App::Db()->count('ordenes_servicio'); ?></h3>
        <p>
          <?php echo App::$lang['service_orders']; ?>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-body bg-6 text-center">
        <h3><?php echo App::Db()->count('lista_compra'); ?></h3>
        <p>
          <?php echo App::$lang['cart_list']; ?>
        </p>
      </div>
    </div>
  </div>
</div>
<?php include INCLUDES.'/notificacion_productos.html';?>
<!-- Modal -->
<div class="modal fade" id="notesadd" tabindex="-1" role="dialog" aria-labelledby="notesadd">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo App::$lang['notes']; ?></h4>
      </div>
      <div class="modal-body">
        <form action="" method="post" class="form">
          <div class="form-group">
            <label>
              <?php echo App::$lang['title']; ?>
            </label>
            <input type="text" name="titulo" class="form-control" requried>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['date']; ?>
            </label>
            <input type="date" name="fecha" class="form-control" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['description']; ?>
            </label>
            <textarea name="descripccion" class="form-control"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-inverse btn-raised" name="saveNote" value="<?php echo App::$lang['add_note']; ?>">
      </div>
      </form>
    </div>
  </div>
</div>
<?php
  if(App::Post('saveNote')){
    $new_date = date('d/m/Y', strtotime(App::Post('fecha')));
    App::Db()->insert('notas', array(
      'titulo' => App::Post('titulo'),
      'descripccion' => App::Post('descripccion'),
      'visto' =>  0,
      'fecha' => $new_date
    ));
    App::Redirect(App::CurrentUrl());
  }
?>
  <script>
  /**
   *   Function graficos
   */
  (function() {
    function graficos() {
      if (document.querySelector('.lineas')) {
        var chart = new Chartist.Line('.lineas', {
          labels: [
            "<?php echo App::$lang['clients']; ?>",
            "<?php echo App::$lang['services']; ?>",
            "<?php echo App::$lang['categories']; ?>",
            "<?php echo App::$lang['products']; ?>",
            "<?php echo App::$lang['service_orders']; ?>",
            "<?php echo App::$lang['cart_list']; ?>"
          ],
          series: [
            [
              Number("<?php echo App::Db()->count('clientes'); ?>"),
              Number("<?php echo App::Db()->count('servicios'); ?>"),
              Number("<?php echo App::Db()->count('categorias'); ?>"),
              Number("<?php echo App::Db()->count('productos'); ?>"),
              Number("<?php echo App::Db()->count('ordenes_servicio'); ?>"),
              Number("<?php echo App::Db()->count('lista_compra'); ?>")
            ],
          ]
        }, {
          low: 0,
          showArea: true,
          showPoint: true,
          fullWidth: false
        });

        chart.on('draw', function(data) {
          if (data.type === 'line' || data.type === 'area') {
            data.element.animate({
              d: {
                begin: 2000 * data.index,
                dur: 2000,
                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                to: data.path.clone().stringify(),
                easing: Chartist.Svg.Easing.easeOutQuint
              }
            });
          }
        });

      }
    }
    window.graficos = graficos;
  })();

  graficos(); // funcion de los graficos del dashboard

  </script>

