<div class="row">
  <div class="col-md-12">
    <button class="btn btn-info btn-fab" data-toggle="modal" data-target="#id_edit"><i class="material-icons">create</i></button>
    <button class="btn btn-warning btn-fab" data-toggle="modal" data-target="#id_upload"><i class="material-icons">photo</i></button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">label</i>
        <?php echo App::$lang['company'];?>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive thumbnail" style="width:100%" src="<?php echo $logo.'?'.time();?>" alt="">
          </div>
          <div class="col-md-9">
            <div class="well-sm">
              <div class="details">
                <?php echo str_replace("\n",'</br>',$details);?>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade text-left" id="id_upload" tabindex="-1" role="dialog" aria-labelledby="id_upload">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo App::$lang['new'];?>  logo  <small class="text-danger">  (<?php echo App::$lang['max_width'];?>: 540px, <?php echo App::$lang['max_height'];?>: 100px)</small></h4>
      </div>
      <div class="modal-body">
        <form method="post" class="form" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="photo" accept="image/png">
            <div class="input-group">
              <input type="text" readonly="" class="form-control" placeholder="(<?php echo App::$lang['max_width'];?>: 540px, <?php echo App::$lang['max_height'];?>: 100px)" accept="image/png">
              <span class="input-group-btn input-group-sm">
                      <button type="button" class="btn btn-fab btn-fab-mini">
                        <i class="material-icons">attach_file</i>
                      </button>
                    </span>
            </div>
          </div>
          <input type="submit" name="editLogo" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['edit'];?>">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="id_edit" tabindex="-1" role="dialog" aria-labelledby="id_edit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo App::$lang['company'];?></h4>
      </div>
      <div class="modal-body">
        <form method="post" class="form">
          <div class="form-group">
            <label>
              <?php echo App::$lang['edit'].' '.App::$lang['shop_contact'];?>
            </label>
            <textarea name="details" class="form-control" id="editor-1"><?php echo $details;?></textarea>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['terms'];?>
            </label>
            <textarea name="terms" class="form-control" id="editor-2"><?php echo $terms;?></textarea>
          </div>
          <input type="submit" name="editCompany" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['edit'];?>">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var opcionesEditor = {
      btns: [
      'btnGrp-semantic',
      ['horizontalRule']
  ],
      autogrow: true,
      lang: '<?php echo App::$config["lenguaje"];?>'
  };

  $('#editor-1').trumbowyg(opcionesEditor);
  $('#editor-2').trumbowyg(opcionesEditor);
</script>