<div class="row">
  <div class="col-md-8">
    <a href="<?php echo App::Url();?>/gestion/lista_compra/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchJson">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchJson" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">insert_invitation</i>
        <?php echo App::$lang['cart_list'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th class="visible-lg">#</th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th class="visible-lg">
                <?php echo App::$lang['status'];?>
              </th>
              <th class="visible-lg">
                <?php echo App::$lang['date'];?>
              </th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php

            if(count($lista) > 0) foreach($lista as $item){?>
              <tr>
                <td class="visible-lg">
                  <?php echo $item['lista_id'];?>
                </td>
                <td>
                  <?php echo $item['nombre'];?>
                </td>
                <td class="text-danger visible-lg">
                  <?php echo $item['estado'];?>
                </td>
                <td class="visible-lg">
                  <?php echo date("d-m-Y", strtotime($item['fecha_compra']));?>
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <button class="btn  btn-info btn-raised" data-toggle="modal" data-target="#id_<?php echo $item['lista_id'];?>" title="<?php echo App::$lang['view'];?>"><i class="material-icons">zoom_in</i></button>
                    <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href=" <?php echo App::Url().'/gestion/lista_compra/editar/'.$item['lista_id'];?>" title=" <?php echo App::$lang['edit'];?>">
                          <?php echo App::$lang['edit'];?>
                        </a>
                      </li>
                      <li>
                        <a onclick="return confirm('<?php echo App::$lang['suretofinalize'];?>')" href=" <?php echo App::Url().'/gestion/lista_compra/finalizar/'.$item['lista_id'];?>" title=" <?php echo App::$lang['finalize'];?>">
                          <?php echo App::$lang['finalize'];?>
                        </a>
                      </li>
                      <li>
                        <a onclick="return confirm('<?php echo App::$lang['areyousure'];?>')" href=" <?php echo App::Url().'/gestion/lista_compra/borrar/'.$item['lista_id'];?>" title="<?php echo App::$lang['delete'];?>">
                          <?php echo App::$lang['delete'];?>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="id_<?php echo $item['lista_id'];?>" tabindex="-1" role="dialog" aria-labelledby="id_<?php echo $item['lista_id'];?>">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title"><?php echo App::$lang['products'].nbsp(1);?> <span class="label label-danger"><strong><?php echo App::$lang['status']; ?>: </strong><?php echo $item['estado'];?></span></h4>
                        </div>
                        <div class="modal-body">
                          <h3><?php echo $item['nombre'];?> <span class="pull-right"><a target="_blank" href="<?php echo App::Url();?>/gestion/preview/lista_compra/<?php echo $item['lista_id'];?>" class="btn btn-link btn-info"><i class="material-icons">print</i></a></span></h3>
                          <p>
                            <?php echo date("d-m-Y", strtotime($item['fecha_compra']));?>
                          </p>
                          <ul class="list list-group" style="overflow:hidden;">
                            <?php
                              $listaProductos = unserialize($item['productos']);
                              foreach($listaProductos as $item){
                                echo '<li class="list-group-item clearfix">
                                  '.$item['nombre'].'
                                  <small class="pull-right">
                                    <strong>'.App::$lang['added_units'].': </strong>'.$item['stock'].'
                                  </small>
                                </li>';
                              }
                            ?>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <?php } ?>
          </tbody>
        </table>
      </div>
      <div class="panel-footer panel-footer-custom clearfix">
        <div class="pull-left">
          <?php if($prev){
            echo '<a class="btn btn-info btn-xs" href="'.$prev.'"><i class="material-icons">keyboard_arrow_left</i></a>';
          } ?>
        </div>
        <div class="pull-right">
          <?php if($next){
            echo '<a class="btn btn-info btn-xs" href="'.$next.'"><i class="material-icons">keyboard_arrow_right</i></a>';
          } ?>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getProducts = {
  url: "<?php echo App::Url();?>/gestion/listas_compra/json/get/lista",
  getValue: function(element) {
    return element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchJson").getSelectedItemData();
      $('#preview').modal('show');

      var productos = '';
      $.each(data.productos,function(index,obj){
        productos += [
            '<li class="list-group-item clearfix">',
                obj.nombre,
                '<span class="pull-right">',
                    '<strong><?php echo App::$lang["Quantity"];?>: </strong>',
                    obj.stock,
                '</span>',
            '</li>'
        ].join('');
      });

      $('#preview-content').html([
        '<h3>',data.nombre,' <small class="label label-danger">',data.estado,'</small> <a target="_blank" href="',site_url,'/gestion/preview/lista_compra/',data.lista_id,'" class="btn btn-link btn-info"><i class="material-icons">print</i></a></h3>',
        '<ul class="list-group list">',
          productos,
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchJson').val('');
      });
    }
  }
};
$("#searchJson").easyAutocomplete(getProducts);
</script>

