<div class="row">
  <div class="col-md-4">
    <a href="<?php echo App::Url();?>/gestion/os_servicio/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  </div>

  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="searchbyOrder">
      <div class="form-group label-floating">
        <label class="control-label" for="searchOrder">
          <?php echo App::$lang['search'];?> id
        </label>
        <div class="input-group">
          <input type="text" id="searchOrder" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchPhone">
          <?php echo App::$lang['search'];?> Tlf
        </label>
        <div class="input-group">
          <input type="text" id="searchPhone" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">insert_invitation</i>
        <?php echo App::$lang['service_orders'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
            <th class="visible-lg">
                <?php echo App::$lang['date'];?>
              </th>
              <th class="visible-lg">#</th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th>Tlf</th>

              <th class="visible-lg">
                <?php echo App::$lang['status'];?>
              </th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php if(count($os_servicio) > 0) foreach($os_servicio as $item){?>
            <tr>
              <td class="visible-lg text-info">
                <?php echo $item['fecha'];?> </td>
              <td class="visible-lg">
                <?php echo $item['os_id'];?>
              </td>
              <td>
                <?php echo $item['c_nombre'];?>
                <?php echo $item['c_apellidos'];?>
              </td>
              <td>
                <?php echo $item['c_tlf'];?>
              </td>
              <td class="visible-lg text-info">
                <?php echo $item['u_nombre'];?> </td>
              <td class="visible-lg text-danger">
                <?php echo $item['estado'];?>
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <a class="btn btn-info  btn-raised" target="_blank" href="<?php echo App::Url();?>/gestion/os_servicio/preview/<?php echo $item['os_id'];?>"><i class="material-icons">zoom_in</i></a>
                  <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href=" <?php echo App::Url().'/gestion/os_servicio/editar/'.$item['os_id'];?>" title=" <?php echo App::$lang['edit'];?>">
                        <?php echo App::$lang['edit'];?>
                      </a>
                    </li>
                    <li>
                      <a onclick="return confirm('<?php echo App::$lang['remember_delete_productos_to_delete_this'];?>')" href=" <?php echo App::Url().'/gestion/os_servicio/borrar/'.$item['os_id'];?>" title="<?php echo App::$lang['delete'];?>">
                        <?php echo App::$lang['delete'];?>
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
      </div>
      <div class="panel-footer panel-footer-custom clearfix">
        <div class="pull-left">
          <?php if($prev){
            echo '<a class="btn btn-info btn-xs" href="'.$prev.'"><i class="material-icons">keyboard_arrow_left</i></a>';
          } ?>
        </div>
        <div class="pull-right">
          <?php if($next){
            echo '<a class="btn btn-info btn-xs" href="'.$next.'"><i class="material-icons">keyboard_arrow_right</i></a>';
          } ?>
        </div>
      </div>
    </div>
  </div>
</div>
<?php include INCLUDES.'/notificacion_productos.html';?>
<script>
var getJson = {
  url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/ordenes",
  getValue: function(element) {
    return element.id +' - '+ element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {
      var data = $("#searchOrder").getSelectedItemData();
      window.location.href = site_url + '/gestion/os_servicio/editar/' + data.id;
    }
  }
};
$("#searchOrder").easyAutocomplete(getJson);


// buscar por telefono
var getJson2 = {
  url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/ordenes",
  getValue: function(element) {
    return element.tlf;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {
      var data = $("#searchPhone").getSelectedItemData();
      window.location.href = site_url + '/gestion/os_servicio/editar/' + data.id;
    }
  }
};
$("#searchPhone").easyAutocomplete(getJson2);

</script>

