<div class="row">
  <div class="col-md-8">
  <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
    <a href="<?php echo App::Url();?>/gestion/productos/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  <?php };?>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchthis">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchProduct" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">insert_invitation</i>
        <?php echo App::$lang['category'];?>
        <?php echo App::$lang['products'];?>
      </div>
      <div class="panel-body table-responsive">
        <ul class="list-inline" id="lista">
          <?php
            $d = App::Db()->query("SELECT categoria,imagen,stock,stock_min FROM productos GROUP BY categoria")->fetchAll();
            $html = '';
            if(count($d) > 0) foreach($d as $item){
              $precaucion = '';
              // si no hay stock colorear
               $html .= '<li class="categoria">
                            <a href="'.App::Url().'/gestion/filtro/categoria/'.urlencode($item['categoria']).'">
                              <img src="'.App::Url().'/'.$item['imagen'].'" alt="">
                              <span>'.$item['categoria'].'</span>
                            </a>
                        </li>';
            }
            echo $html;
          ?>
        </ul>
      </div>
    </div>
  </div>
</div>


<?php include INCLUDES.'/notificacion_productos.html';?>


<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getProducts = {
  url: "<?php echo App::Url();?>/gestion/productos/json/get/producto",
  getValue: function(element) {
    return element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchProduct").getSelectedItemData();

      $('#preview').modal('show');

      var observations = data.observaciones.split('\n').join('<br>');

      $('#preview-content').html([
        '<ul class="list-group list">',
          '<li class="list-group-item"><label class="label"><strong>Stock </strong>',data.stock,'</label></li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["name"];?> </strong>',data.nombre,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["purchase_price"];?> </strong>',data.precio_compra,'€</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["sales_price"];?> </strong>',data.precio_venta,'€</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["category"];?> </strong>',data.categoria,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["provider"];?> </strong>',data.proveedor,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["trademark"];?> </strong>',data.marca,'</li>',
          '<li class="list-group-item bg-6"><h3><?php echo App::$lang["observations"];?></h3>',observations,'</li>',
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchProduct').val('');
      });
    }
  }
};
$("#searchProduct").easyAutocomplete(getProducts);
</script>

