<div class="row">
  <div class="col-md-8">
    <a href="#" data-toggle="modal" data-target="#addProvider" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
    <!-- Modal -->
    <div class="modal fade text-left" id="addProvider" tabindex="-1" role="dialog" aria-labelledby="addProvider">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><?php echo App::$lang['add'];?> <?php echo App::$lang['provider'];?></h4>
          </div>
          <div class="modal-body">
            <form action="" method="post" class="form">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['name'];?>
                </label>
                <input type="text" name="name" id="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  <?php echo App::$lang['address'];?>
                </label>
                <input type="text" name="address" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Tlf</label>
                <input type="text" name="tlf" id="tlf" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  <?php echo App::$lang['email'];?>
                </label>
                <input type="text" name="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  <?php echo App::$lang['observations'];?>
                </label>
                <textarea name="observations" class="form-control" rows="5"></textarea>
              </div>
              <input type="submit" name="addProvider" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['add'];?>">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchthis">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchthis" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">dashboard</i>
        <?php echo App::$lang['providers'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th class="visible-lg">#</th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th class="visible-lg">
                <?php echo App::$lang['email'];?>
              </th>
              <th>Tlf</th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php
            $d = App::Db()->select('proveedores','*');
            if(count($d) > 0) foreach($d as $item){?>
              <tr>
                <td class="visible-lg">
                  <?php echo $item['proveedor_id'];?>
                </td>
                <td>
                  <?php echo $item['nombre'];?>
                </td>
                <td class="visible-lg text-info">
                  <?php echo $item['email'];?>
                </td>
                <td class="text-success">
                  <?php echo $item['tlf'];?>
                </td>
                <td class="text-right">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-info btn-fab dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" data-toggle="modal" data-target="#id_<?php echo $item['proveedor_id'];?>" title=" <?php echo App::$lang['edit'];?>">
                          <?php echo App::$lang['edit'];?>
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a onclick="return confirm('<?php echo App::$lang['areyousure'];?>')" href=" <?php echo App::Url().'/gestion/proveedores/borrar/'.$item['proveedor_id'];?>" title="<?php echo App::$lang['delete'];?>">
                          <?php echo App::$lang['delete'];?>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="id_<?php echo $item['proveedor_id'];?>" tabindex="-1" role="dialog" aria-labelledby="id_<?php echo $item['proveedor_id'];?>">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title"><?php echo App::$lang['edit'];?> <?php echo $item['nombre'];?></h4>
                        </div>
                        <div class="modal-body">
                          <form action="" method="post" class="form">
                            <input type="hidden" name="proveedor_id" value="<?php echo $item['proveedor_id'];?>">
                            <div class="form-group">
                              <label>
                                <?php echo App::$lang['name'];?>
                              </label>
                              <input type="text" name="name" class="form-control" value="<?php echo $item['nombre'];?>" required>
                            </div>
                            <div class="form-group">
                              <label>
                                <?php echo App::$lang['address'];?>
                              </label>
                              <input type="text" name="address" class="form-control" value="<?php echo $item['direccion'];?>" required>
                            </div>
                            <div class="form-group">
                              <label>Tlf</label>
                              <input type="text" name="tlf" class="form-control" value="<?php echo $item['tlf'];?>" required>
                            </div>
                            <div class="form-group">
                              <label>
                                <?php echo App::$lang['email'];?>
                              </label>
                              <input type="text" name="email" class="form-control" value="<?php echo $item['email'];?>" required>
                            </div>
                            <div class="form-group">
                              <label>
                                <?php echo App::$lang['observations'];?>
                              </label>
                              <textarea name="observations" class="form-control" rows="5"><?php echo $item['observaciones'];?></textarea>
                            </div>
                            <input type="submit" name="editProvider" class="btn btn-inverse btn-raised" value="<?php echo App::$lang['edit'];?>">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <?php } ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  var nombre = $('#nombre');
  var tlf = $('#tlf');
  // compara nombre
  checkIfExists(nombre,'proveedores','nombre');
  checkIfExists(tlf,'proveedores','tlf');
  // omprobar si existe en la base de datos
  function checkIfExists(name,tablename,tableval){
    name.on('blur',function(){
      // que no este vacio
      if(name.val() !== ''){
        // lamada ajax
        $.getJSON(site_url+'/gestion/comprobar/'+tablename+'/'+tableval,function(response){
          // loop todos los elementos
          $.each(response,function(index,obj){
            // convertir  ejemplo Hello Wórld a helloworld
            var a = name.removeAccents(name.val().replace(/ /g,'').toLowerCase()),
            b = $(obj).removeAccents(obj[tableval].replace(/ /g,'').toLowerCase());
            // si son iguales error
            if(a === b){
              alert('<?php echo App::$lang["data_exists"];?>');
              name.focus().parent().addClass('has-error');
            }
          });
        });
      }
    });
  }
</script>