<div class="row">
  <div class="col-md-8">
    <a href="<?php echo App::Url();?>/gestion/servicios/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  </div>
  <div class="col-md-4">
    <form action="" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchthis">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchJson" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">insert_invitation</i>
        <?php echo App::$lang['services'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th class="visible-lg">#</th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th class="visible-lg">
                <?php echo App::$lang['description'];?>
              </th>
              <th>
                <?php echo App::$lang['price'];?>
              </th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php
            if(count($servicios) > 0) foreach($servicios as $item){?>
              <tr>
                <td class="visible-lg">
                  <?php echo $item['servicio_id'];?>
                </td>
                <td>
                  <?php echo $item['nombre'];?>
                </td>
                <td class="visible-lg">
                  <?php echo $item['descripccion'];?>
                </td>
                <td class="bold">
                  <?php echo $item['precio'];?> €</td>
                <td class="text-right">
                  <div class="btn-group">
                    <button class="btn btn-info  btn-raised" data-toggle="modal" data-target="#id_<?php echo $item['servicio_id'];?>" title="<?php echo App::$lang['view'];?>"><i class="material-icons">zoom_in</i></button>
                    <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="<?php echo App::Url().'/gestion/servicios/editar/'.$item['servicio_id'];?>" title="<?php echo App::$lang['edit'];?>">
                          <?php echo App::$lang['edit'];?>
                        </a>
                      </li>
                      <?php if(App::SessionGet('app_role') == 'administrador' || App::SessionGet('app_role') == 'root'){ ?>
                      <li>
                        <a onclick="return confirm('<?php echo App::$lang['areyousure'];?>')" href="<?php echo App::Url().'/gestion/servicios/borrar/'.$item['servicio_id'];?>" title="<?php echo App::$lang['delete'];?>">
                          <?php echo App::$lang['delete'];?>
                        </a>
                      </li>
                      <?php }; ?>
                    </ul>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade text-left" id="id_<?php echo $item['servicio_id'];?>" tabindex="-1" role="dialog" aria-labelledby="id_<?php echo $item['servicio_id'];?>">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content text-left">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title"><?php echo App::$lang['name']; ?></h4>
                        </div>
                        <div class="modal-body">
                          <ul class="list list-group">
                            <li class="list-group-item"><strong><?php echo App::$lang['name']; ?></strong>
                              <?php echo $item['nombre']; ?>
                            </li>
                            <li class="list-group-item"><strong><?php echo App::$lang['description']; ?></strong>
                              <?php echo $item['descripccion'];?>
                            </li>
                            <li class="list-group-item"><strong><?php echo App::$lang['price']; ?></strong>
                              <?php echo $item['precio'];?> €</li>
                            <li class="list-group-item"><strong><?php echo App::$lang['observations']; ?></strong>
                              <?php echo $item['observaciones'];?>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <?php } ?>
          </tbody>
        </table>
      </div>
      <div class="panel-footer panel-footer-custom clearfix">
        <div class="pull-left">
          <?php if($prev){
            echo '<a class="btn btn-info btn-xs" href="'.$prev.'"><i class="material-icons">keyboard_arrow_left</i></a>';
          } ?>
        </div>
        <div class="pull-right">
          <?php if($next){
            echo '<a class="btn btn-info btn-xs" href="'.$next.'"><i class="material-icons">keyboard_arrow_right</i></a>';
          } ?>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getProducts = {
  url: "<?php echo App::Url();?>/gestion/servicios/json/get/servicio",
  getValue: function(element) {
    return element.nombre;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchJson").getSelectedItemData();

      $('#preview').modal('show');

      $('#preview-content').html([
        '<ul class="list-group list">',
          '<li class="list-group-item">',
            '<strong><?php echo App::$lang["name"];?> </strong> ',
            data.nombre,'</li>',
          '<li class="list-group-item">',
            '<strong><?php echo App::$lang["date"];?> </strong> ',
            data.fecha,'</li>',
          '<li class="list-group-item">',
            '<strong><?php echo App::$lang["price"];?> </strong> ',
            data.precio,' €</li>',
          '<li class="list-group-item">',
            '<strong><?php echo App::$lang["description"];?> </strong> ',
            data.descripccion,'</li>',
          '<li class="list-group-item">',
            '<strong><?php echo App::$lang["observations"];?> </strong> ',
            data.observaciones,'</li>',
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchJson').val('');
      });
    }
  }
};
$("#searchJson").easyAutocomplete(getProducts);
</script>

