<div class="row">
  <div class="col-md-8">
    <a href="<?php echo App::Url();?>/gestion/usuarios/nuevo" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
  </div>
  <div class="col-md-4">
    <form method="post" class="form-inline pull-right" id="search">
      <div class="form-group label-floating">
        <label class="control-label" for="searchjson">
          <?php echo App::$lang['search'];?>
        </label>
        <div class="input-group">
          <input type="text" id="searchjson" class="form-control">
          <span class="input-group-addon"><i class="material-icons">search</i></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom">
        <i class="material-icons">person</i>
        <?php echo App::$lang['users'];?>
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-bordered table-striped table-sortable" id="table">
          <thead>
            <tr>
              <th>#</th>
              <th>
                <?php echo App::$lang['name'];?>
              </th>
              <th class="hidden-xs">
                <?php echo App::$lang['last_name'];?>
              </th>
              <th class="hidden-xs hidden-sm">
                <?php echo App::$lang['dni'];?>
              </th>
              <th class="hidden-xs hidden-sm">
                <?php echo App::$lang['email'];?>
              </th>
              <th class="hidden-xs">Tlf</th>
              <th>
                <?php echo App::$lang['options'];?>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <?php
            $html = '';
            if(count($usuarios) > 0 ) foreach($usuarios as $user){
              // si es root no enseñar
              if($user['u_role'] == 'root') continue;
              $html .='
                <tr>
                  <td>'.$user['usuario_id'].'</td>
                  <td class="text-muted">'.$user['u_nombre'].'</td>
                  <td class="hidden-xs text-muted">'.$user['u_apellidos'].'</td>
                  <td class="hidden-xs hidden-sm">'.$user['u_dni'].'</td>
                  <td class="hidden-xs hidden-sm text-success">'.$user['u_email'].'</td>
                  <td class="hidden-xs text-warning">'.$user['u_tlf'].'</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-raised btn-info" href="#"  data-toggle="modal" data-target="#id_'.$user['usuario_id'].'" title="'.App::$lang['view'].'"><i class="material-icons">zoom_in</i></button>
                      <button type="button" class="btn btn-raised btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="'.App::Url().'/gestion/usuarios/editar/'.$user['usuario_id'].'" title="'.App::$lang['edit'].'">'.App::$lang['edit'].' </a></li>
                        <li> <a onclick="return confirm(\''.App::$lang['areyousure'].'\')" href="'.App::Url().'/gestion/usuarios/borrar/'.$user['usuario_id'].'" title="'.App::$lang['delete'].'">'.App::$lang['delete'].'</a></li>
                      </ul>
                    </div>

                      <!-- Modal -->
                      <div class="modal fade text-left" id="id_'.$user['usuario_id'].'" tabindex="-1" role="dialog" aria-labelledby="id_'.$user['usuario_id'].'">
                        <div class="modal-dialog  modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="id_'.$user['usuario_id'].'">&nbsp;</h4>
                            </div>
                            <div class="modal-body">
                              <ul class="list list-group">
                                <li class="list-group-item"><strong>'.App::$lang['name'].'</strong> '.$user['u_nombre'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['last_name'].'</strong> '.$user['u_apellidos'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['dni'].'</strong> '.$user['u_dni'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['email'].'</strong> '.$user['u_email'].'</li>
                                <li class="list-group-item"><strong>'.App::$lang['address'].'</strong> '.$user['u_direccion'].'</li>
                                <li class="well-sm text-muted list-group-item">'.$user['u_observaciones'].'</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                  </td>
                </tr>
              ';
            }
            echo $html;
          ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>
var getUsers = {
  url: "<?php echo App::Url();?>/gestion/usuarios/json/get/usuario",
  getValue: function(element) {
    return element.u_nombre+' '+element.u_apellidos;
  },
  list: {
    maxNumberOfElements: 2,
    match: {
      enabled: true
    },
    onClickEvent: function() {

      var data = $("#searchjson").getSelectedItemData();

      $('#preview').modal('show');

      $('#preview-content').html([
        '<ul class="list-group list">',
          '<li class="list-group-item"><strong><?php echo App::$lang["name"];?>: </strong>',data.u_nombre,' ',data.u_apellidos,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["email"];?>: </strong>',data.u_email,'</li>',
          '<li class="list-group-item"><strong>Dni: </strong>',data.u_dni,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["address"];?>: </strong>',data.u_direccion,'</li>',
          '<li class="list-group-item"><strong><?php echo App::$lang["observations"];?>: </strong>',data.u_observaciones,'</li>',
        '</ul>'
      ].join(''));

      $('#preview').on('hide.bs.modal', function () {
        $('#preview-content').html('');
        $('#searchjson').val('');
      });
    }
  }
};
$("#searchjson").easyAutocomplete(getUsers);
</script>
