<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-8">
      <input type="submit" class="btn btn-inverse btn-raised" name="actualizarLista" value="<?php echo App::$lang['edit']; ?>">
      <a href="<?php echo App::Url();?>/gestion/listas_compra" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
    <div class="col-md-4">
    <?php if($lista_compra['estado'] != 'listo'){ ?>
        <div class="form-group label-floating">
          <label class="control-label" for="searchthis">
            <?php echo App::$lang['add'].' '.App::$lang['product'];?>
          </label>
          <div class="input-group">
            <input type="text" id="searchProduct" class="form-control">
            <span class="input-group-addon"><i class="material-icons">search</i></span>
          </div>
        </div>
      <?php }; ?>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom clearfix">
      <i class="material-icons">dashboard</i>
      <?php echo $lista_compra['nombre'].nbsp(5);?> <span class="label label-danger"><strong><?php echo App::$lang['status']; ?>: </strong><?php echo $lista_compra['estado'];?></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" class="form-control" name="nombre" value="<?php echo $lista_compra['nombre'];?>" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['date']; ?>
            </label>
            <input type="date" class="form-control" name="fecha_compra" value="<?php echo $lista_compra['fecha_compra'];?>" requried>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="list list-group" id="listaCompra">
          <?php
              // obtenemos la lista de productos guardada
              $listaProductos = unserialize($lista_compra['productos']);
              // si no esta vacia
              if($listaProductos) foreach($listaProductos as $item){
                // obtenomos el stock de los productos usados
                $producto = App::Db()->get('productos',array('producto_id','nombre','stock'),array('producto_id' => $item['producto_id']));
                // anular input si esta lista
                $disabled = '';
                if($lista_compra['estado'] == 'listo') $disabled = 'disabled';

                echo '<li class="list-group-item clearfix">
                  '.$item['nombre'].'
                  <span class="pull-right">
                    <strong>'.App::$lang['current_stock'].': </strong>
                    <span class="currentStock" id="current_id_'.$item['producto_id'].'">'.$producto['stock'].'</span>'.nbsp(3).'
                    <strong>'.App::$lang['added_units'].': </strong>
                    <input type="number"
                      value="'.$item['stock'].'"
                      class="changeStock"
                      style="width:3.5em;text-align:center;display:inline-block"
                      data-oldstock = "'.$item['oldStock'].'"
                      data-id="'.$item['producto_id'].'"
                      data-nombre="'.$item['nombre'].'"
                      id="id_'.$item['producto_id'].'";
                      min="1" 
                      reqired 
                      '.$disabled.'>';

                if($lista_compra['estado'] !== 'listo'){
                    echo '<a href="#" class="sumToStock text-info" data-id="id_'.$item['producto_id'].'">+</a>';
                }

                 echo '</span>
                </li>';
              }
            ?>
        </ul>
        <input type="hidden" name="productos" id="productos">
        <input type="hidden" name="estado" value="listo">
        <script>
        // actualizar input productos al iniciar
        // para que no quede en blanco
        updateStock();

        // al cambiar el valor actualizamos el input productos
        $('.changeStock').on('change', function(e) {
          e.preventDefault();
          updateStock();
        });
        // al clikar suma
        $('.sumToStock').on('click', function(e) {
          e.preventDefault();
          // confirma si esta seguro
          if(confirm('<?php echo App::$lang["surecorrectunit"];?>')){
              // data-id del link
              var inputId = $(this).data('id');
              // push
              var data = {
                stock: $('#' + inputId).val()
              };
              var self = $(this);
              // ajax post
              $.post(
                // url
                site_url + '/gestion/lista_compra/sumar/stock/producto/' + $('#' + inputId).data('id'),
                // convierte a json
                JSON.stringify(data),
                // respuesta
                function(response) {
                  // si es true
                  if (response.estado) {
                    // comprueba clase para intercambiar
                    if (self.hasClass('text-info')) {
                      // borra esta clase añade text-success y el html
                      // añade completado
                      // busca el input y añade atributo disabled
                      self.removeClass('text-info').addClass('text-success').html('&#10003;')
                        .parent().parent().addClass('completado')
                        .find('input').attr('disabled', true);
                      // suma el total
                      $current = Number($('#current_' + inputId).text()) + Number($('#' + inputId).val());
                      $('#current_' + inputId).text($current);
                    } else {
                      // borra clase text-success y añade text-info y text +
                      // borra la class completado
                      // busca el input y quita el attributo disabled
                      self.removeClass('text-success').addClass('text-info').html('+')
                        .parent().parent().removeClass('completado')
                        .find('input').attr('disabled', false);
                    }
                  }
                });
            }
        });


        // funcion para actualizar el stock
        function updateStock() {
          $('#productos').val('');
          var data = [];
          $.each($('.changeStock'), function(index, obj) {

            var inputId = $(obj).data('id'), // id
              nombre = $(obj).data('nombre'), // nombre
              stockViejo = $(obj).data('oldstock'), // nombre
              stockNuevo = $(obj).val();

            r = {
              producto_id: inputId,
              nombre: nombre,
              oldStock:stockViejo,
              stock: stockNuevo
            };
            data.push(r);

            // insertamos en el input
            $result = JSON.stringify(data, null, 2);
            $('#productos').val($result);
          });
        }

        </script>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>



<!-- ventana modal del search -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="preview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo nbsp(2);?></h4>
      </div>
      <div class="modal-body">
          <div id="preview-content"></div>
      </div>
    </div>
  </div>
</div>

<script>

if($("#searchProduct").length){

  // function para añadir producto con ajax
  var addToList = function(element){
    var uid = $(element).data('id');
    var nombre = $(element).data('nombre');
    var stock = $(element).data('stock');
    // mandamos esto
    var send = {
      producto_id: uid,
      nombre: nombre,
      stock: stock
    };
    // url para el ajax
    var urlToAdd = site_url+'/gestion/lista_compra/add/product/<?php echo $lista_compra["lista_id"];?>';
    // mandamos y refrescamos si es true
    $.post(urlToAdd,JSON.stringify(send),function(response){
      if(response.estado === true){
        window.location.href = site_url+'/gestion/lista_compra/editar/<?php echo $lista_compra["lista_id"];?>';
      }
    });

  };


  var getProducts = {
    url: "<?php echo App::Url();?>/gestion/productos/json/get/producto",
    getValue: function(element) {
      return element.nombre;
    },
    list: {
      maxNumberOfElements: 2,
      match: {
        enabled: true
      },
      onClickEvent: function() {

        var data = $("#searchProduct").getSelectedItemData();

        $('#preview').modal('show');

        var observations = data.observaciones.split('\n').join('<br>');

        $('#preview-content').html([
            '<a href="#" onclick="addToList(this)" class="btn btn-raised btn-inverse" data-nombre="',data.nombre,'" data-stock="',data.stock,'" data-oldStock="',data.stock,'"data-id="',data.producto_id,'"><?php echo App::$lang["add"];?></a>',
            '<ul class="list-group list">',
              '<li class="list-group-item"><label class="label"><strong>Stock </strong>',data.stock,'</label></li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["name"];?> </strong>',data.nombre,'</li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["purchase_price"];?> </strong>',data.precio_compra,'€</li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["sales_price"];?> </strong>',data.precio_venta,'€</li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["category"];?> </strong>',data.categoria,'</li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["provider"];?> </strong>',data.proveedor,'</li>',
              '<li class="list-group-item"><strong><?php echo App::$lang["trademark"];?> </strong>',data.marca,'</li>',
              '<li class="list-group-item bg-6"><h3><?php echo App::$lang["observations"];?></h3>',observations,'</li>',
            '</ul>'
        ].join(''));

        $('#preview').on('hide.bs.modal', function () {
          $('#preview-content').html('');
          $('#searchProduct').val('');
        });
      }
    }
  };



  $("#searchProduct").easyAutocomplete(getProducts);

}
</script>
