<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="editProduct" value="<?php echo App::$lang['edit']; ?>">
      <a href="javascript:history.back(1);" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">insert_invitation</i>
      <?php echo App::$lang['add']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name'];?>
            </label>
            <input type="text" class="form-control" name="name" value="<?php echo $producto['nombre'];?>" disabled>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['purchase_price'];?>
                </label>
                <input type="text" class="form-control" name="purchase_price" required value="<?php echo $producto['precio_compra'];?>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['sales_price'];?>
                </label>
                <input type="text" class="form-control" name="sales_price" required value="<?php echo $producto['precio_venta'];?>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['stock'];?>
                </label>
                <input type="number" class="form-control" name="stock" required min="1" value="<?php echo $producto['stock'];?>">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['stock_min'];?>
                </label>
                <input type="number" class="form-control" name="stock_min" required min="1" value="<?php echo $producto['stock_min'];?>">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['category'];?> <small class="text-info">  <?php echo $producto['categoria'];?></small></label>
            <select name="category" class="form-control">
              <option value="<?php echo $producto['categoria'];?>"> ----- </option>
              <?php
                    $categories = App::Db()->select('categorias',array('modelo'));
                    foreach($categories as $c){
                     echo '<option value="'.$c['modelo'].'">'.$c['modelo'].'</option>';
                    }
                ?>
            </select>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['trademark'];?> <small class="text-info">  <?php echo $producto['marca'];?></small></label>
                <select name="trademark" class="form-control">
                  <option value="<?php echo $producto['marca'];?>"> ----- </option>
                  <?php
                        $trademark = App::Db()->select('marcas',array('nombre'));
                        foreach($trademark as $tr){
                         echo '<option value="'.$tr['nombre'].'">'.$tr['nombre'].'</option>';
                        }
                    ?>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['provider'];?> <small class="text-info">  <?php echo $producto['proveedor'];?></small></label>
                <select name="provider" class="form-control">
                  <option value="<?php echo $producto['proveedor'];?>"> ----- </option>
                  <?php
                        $provider = App::Db()->select('proveedores',array('nombre'));
                        foreach($provider as $pv){
                         echo '<option value="'.$pv['nombre'].'">'.$pv['nombre'].'</option>';
                        }
                    ?>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations'];?>
            </label>
            <textarea name="observations" class="form-control" rows="5"><?php echo $producto['observaciones'];?></textarea>
          </div>
        </div>
      </div>
</form>
</div>
<!-- panel-body -->
</div>
<!-- panel -->
</form>

