<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="editUser" value="<?php echo App::$lang['edit']; ?>">
      <a href="<?php echo App::Url();?>/gestion/usuarios" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">person</i>
      <?php echo App::$lang['edit']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="name" class="form-control" value="<?php echo $usuario['u_nombre']; ?>" disabled>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['last_name']; ?>
            </label>
            <input type="text" name="last_name" class="form-control" value="<?php echo $usuario['u_apellidos']; ?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['dni']; ?>
            </label>
            <input type="text" name="dni" id="dni" class="form-control" value="<?php echo $usuario['u_dni']; ?>" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tlf</label>
            <input type="text" name="tlf" class="form-control" value="<?php echo $usuario['u_tlf']; ?>" required>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['email']; ?>
            </label>
            <input type="email" name="email" id="email" class="form-control" value="<?php echo $usuario['u_email']; ?>" disabled>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['address']; ?>
            </label>
            <input type="text" name="address" class="form-control" value="<?php echo $usuario['u_direccion']; ?>">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['locality']; ?>
            </label>
            <input type="text" name="locality" class="form-control" value="<?php echo $usuario['u_ciudad']; ?>">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Role <small class="text-info"><?php echo $usuario['u_role']; ?></small></label>
            <select name="role" class="form-control">
              <option value="<?php echo $usuario['u_role']; ?>"> -- </option>
              <option value="empleado">
                <?php echo App::$lang['employee']; ?>
              </option>
              <option value="administrador">
                <?php echo App::$lang['admin']; ?>
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observations" class="form-control"><?php echo $usuario['u_observaciones']; ?></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

