<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="editClient" value="<?php echo App::$lang['edit']; ?>">
      <a href="<?php echo App::Url();?>/gestion/clientes" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['edit']; ?> -
      <?php echo $cliente['c_nombre'];?>
      <?php echo $cliente['c_apellidos'];?>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="name" class="form-control" required value="<?php echo $cliente['c_nombre'];?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['last_name']; ?>
            </label>
            <input type="text" name="last_name" class="form-control" value="<?php echo $cliente['c_apellidos'];?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['dni']; ?>
            </label>
            <input type="text" name="dni" id="dni" class="form-control"  value="<?php echo $cliente['c_dni'];?>" disabled>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Tlf</label>
            <input type="text" name="tlf" class="form-control" required value="<?php echo $cliente['c_tlf'];?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['email']; ?>
            </label>
            <input type="email" name="email" id="email" class="form-control" required value="<?php echo $cliente['c_email'];?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['address']; ?>
            </label>
            <input type="text" name="address" class="form-control" value="<?php echo $cliente['c_direccion'];?>">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <?php echo App::$lang['locality']; ?>
            </label>
            <input type="text" name="locality" class="form-control" value="<?php echo $cliente['c_ciudad'];?>">
          </div>
          <div class="form-group">
            <label>C.P</label>
            <input type="text" name="cp" class="form-control" value="<?php echo $cliente['c_cp'];?>">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observations" class="form-control"><?php echo $cliente['c_observaciones'];?></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

