<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom">
    <i class="material-icons">dashboard</i>
    <?php echo App::$lang['add']; ?>
  </div>
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">
          <?php echo App::$lang['service_orders']; ?>
        </a>
      </li>
      <li role="presentation">
        <a href="#products" aria-controls="products" role="tab" data-toggle="tab">
          <?php echo App::$lang['products']; ?>
        </a>
      </li>
      <li role="presentation">
        <a href="#services" aria-controls="services" role="tab" data-toggle="tab">
          <?php echo App::$lang['services']; ?>
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="orders">
        <form action="" method="post" class="form">
          <input type="hidden" name="usuario_id" value="<?php echo App::SessionGet('app_id');?>">
          <div class="row">
            <div class="col-md-6">
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['date'];?>
                    </label>
                    <input type="text" name="fecha"  class="form-control" value="<?php echo $item['fecha']; ?>" disabled>
                  </div>
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['first_date'];?>
                    </label>
                    <input type="date" name="fecha_inicial" class="form-control" value="<?php echo $item['fecha_inicial']; ?>">
                  </div>
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['delivery_date'];?>
                    </label>
                    <input type="date" name="fecha_entrega" class="form-control" value="<?php echo $item['fecha_entrega']; ?>">
                  </div>
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['end_date'];?>
                    </label>
                    <input type="date" name="fecha_final" class="form-control" value="<?php echo $item['fecha_final']; ?>">
                  </div>

                  <div class="checkbox">
                    <label>
                      <?php echo App::$lang['garanty'];?>
                      <input name="garantia" type="checkbox" <?php echo ($item[ 'garantia']) ? 'checked' : ''; ?>></label>
                  </div>
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['status'];?> <small class="text-info"><?php echo $item['estado']; ?></small></label>
                    <select name="estado" class="form-control">
                      <option value="<?php echo $item['estado']; ?>"> --- </option>
                      <option value="ok">
                        Ok
                      </option>
                      <option value="en-espera">
                        <?php echo App::$lang['onhold'];?>
                      </option>
                      <option value="avisado">
                        <?php echo App::$lang['informed'];?>
                      </option>
                      <option value="pendiente">
                        <?php echo App::$lang['pending'];?>
                      </option>
                      <option value="pendiente-piezas">
                        <?php echo App::$lang['pending-pieces'];?>
                      </option>
                    </select>
                  </div>

            </div>
            <div class="col-md-6">
                 <div class="form-group">
                    <label>
                      <?php echo App::$lang['client_name'];?>
                    </label>
                    <input type="text" class="form-control" id="clientes" value="<?php echo $item['c_nombre']; ?>">
                    <input type="hidden" name="cliente_id" id="cliente_id" value="<?php echo $item['cliente_id']; ?>">
                  </div>
                  <h3><?php echo App::$lang['has_left'];?></h3>
                  <div class="checkbox">
                    <label>Cds
                      <input name="cds" type="checkbox" <?php echo ($item[ 'cds']) ? 'checked' : ''; ?>></label>
                    <label>
                      <?php echo App::$lang['charger'];?>
                      <input name="cargador" type="checkbox" <?php echo ($item[ 'cargador']) ? 'checked' : ''; ?>></label>
                    <label>
                      <?php echo App::$lang['case'];?>
                      <input name="maletin" type="checkbox" <?php echo ($item[ 'maletin']) ? 'checked' : ''; ?>></label>
                  </div>
                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['others'];?>
                    </label>
                    <input type="text" name="otros" class="form-control" value="<?php echo $item['otros']; ?>">
                  </div>

                  <div class="form-group">
                    <label>
                      <?php echo App::$lang['product_description'];?>
                    </label>
                    <textarea name="descripcion_equipo" rows="5"  class="form-control" required><?php echo $item['descripcion_equipo']; ?></textarea>
                  </div>

                  </div></div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['symptom'];?>
                </label>
                <textarea name="sintomas" rows="5" id="editor-1" class="form-control" required><?php echo $item['sintomas']; ?></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['diagnostic'];?>
                </label>
                <textarea name="diagnostico" rows="5" id="editor-2" class="form-control"><?php echo $item['diagnostico']; ?></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['repairs'];?>
                </label>
                <textarea name="reparacion" rows="5" id="editor-3" class="form-control"><?php echo $item['reparacion']; ?></textarea>
              </div>
            </div></div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-inverse btn-raised" name="editOsService" value="<?php echo App::$lang['edit']; ?>">
              <a href="<?php echo App::Url();?>/gestion/os_servicio" class="btn btn-danger btn-raised">
                <?php echo App::$lang['back'];?>
              </a>
            </div></div>
        </form>
        <script>
        var getClients = {
          url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/clientes",
          getValue: function(element) {
            return element.nombre;
          },
          list: {
            maxNumberOfElements: 5,
            match: {
              enabled: true
            },
            onSelectItemEvent: function() {
              var data = $("#clientes").getSelectedItemData();
              $("#cliente_id").val(data.cliente_id);
            }
          }
        };
        $("#clientes").easyAutocomplete(getClients);

        </script>
      </div>
      <div role="tabpanel" class="tab-pane" id="products">
        <form action="" method="post" class="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['product'];?>
                </label>
                <input type="text" id="producto" class="form-control" required>
                <input type="hidden" name="producto_id" id="producto_id" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['Quantity'];?>
                </label>
                <input type="number" name="cantidad" class="form-control" min="1" value="1">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="submit" name="addOsProduct" class="btn btn-raised btn-inverse" value="<?php echo App::$lang['add'];?> <?php echo App::$lang['product'];?>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 table-responsive">
              <table class="table table-striped table-bordered">
                <tbody>
                  <tr>
                    <th>
                      <?php echo App::$lang['product'];?>
                    </th>
                    <th>
                      <?php echo App::$lang['Quantity'];?>
                    </th>
                    <th>
                      <?php echo App::$lang['options'];?>
                    </th>
                    <th>Subtotal</th>
                  </tr>
                  <?php
                    if($os_producto){
                      foreach($os_producto as $p_item){
                        echo '
                        <tr>
                          <td>'.$p_item['nombre'].'</td>
                          <td>'.$p_item['cantidad'].'</td>
                          <td>
                              <a href="'.App::Url().'/gestion/os_servicio/borrar/os_producto/'.$p_item['os_id'].'/id/'.$p_item['os_producto_id'].'/cantidad/'.$p_item['cantidad'].'/producto_id/'.$p_item['producto_id'].'"
                                onclick="return confirm(\''.App::$lang['areyousure'].'\');">'.App::$lang['delete'].'</a>
                          </td>
                          <td>'.$p_item['subtotal'].' €</td>
                        </tr>';
                      }
                   }else{
                  ?>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0 €</td>
                  </tr>
                  <?php }; ?>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total:</strong></td>
                    <td><strong><?php echo $productosTotal; ?> €</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <script>
        var getProducts = {
          url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/productos",
          getValue: function(element) {
            return element.nombre;
          },
          list: {
            maxNumberOfElements: 5,
            match: {
              enabled: true
            },
            onSelectItemEvent: function() {
              var data = $("#producto").getSelectedItemData();
              $('#producto_id').val(data.producto_id);
            }
          }
        };
        $("#producto").easyAutocomplete(getProducts);

        </script>
      </div>
      <div role="tabpanel" class="tab-pane" id="services">
        <form action="" method="post" class="form">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>
                  <?php echo App::$lang['service'];?>
                </label>
                <input type="text" id="servicio" class="form-control">
                <input type="hidden" name="servicio_id" id="servicio_id" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="submit" name="addOsService" class="btn btn-raised btn-inverse" value="<?php echo App::$lang['add'];?> <?php echo App::$lang['service'];?>">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 table-responsive">
              <table class="table table-striped table-bordered">
                <tr>
                  <th>
                    <?php echo App::$lang['service'];?>
                  </th>
                  <th>
                    <?php echo App::$lang['options'];?>
                  </th>
                  <th>Subtotal</th>
                </tr>
                <?php
                    if($os_servicio){
                      foreach($os_servicio as $s_item){
                        echo '
                        <tr>
                          <td>'.$s_item['nombre'].'</td>
                          <td>
                              <a href="'.App::Url().'/gestion/os_servicio/borrar/os_servicio/'.$s_item['os_id'].'/id/'.$s_item['os_servicio_id'].'"
                                onclick="return confirm(\''.App::$lang['areyousure'].'\');">'.App::$lang['delete'].'</a>
                          </td>
                          <td>'.$s_item['subtotal'].' €</td>
                        </tr>';
                      }
                   }else{
                  ?>
                <tr>
                  <td></td>
                  <td></td>
                  <td>0 €</td>
                </tr>
                <?php }; ?>
                <tr>
                  <td></td>
                  <td><strong>Total:</strong></td>
                  <td><strong><?php echo $serviciosTotal; ?> €</strong></td>
                </tr>
              </table>
            </div>
          </div>
        </form>
        <script>
        var getServices = {
          url: "<?php echo App::Url();?>/gestion/os_servicio/json/get/servicios",
          getValue: function(element) {
            return element.nombre;
          },
          list: {
            maxNumberOfElements: 5,
            match: {
              enabled: true
            },
            onSelectItemEvent: function() {
              var data = $("#servicio").getSelectedItemData();
              $('#servicio_id').val(data.servicio_id);
            }
          }
        };
        $("#servicio").easyAutocomplete(getServices);

        </script>
      </div>
    </div>
  </div>
  <!-- panel-body -->
</div>
<!-- panel -->


<script>
  var opcionesEditor = {
      btns: [
      'btnGrp-semantic',
      ['horizontalRule']
  ],
      autogrow: true,
      lang: '<?php echo App::$config["lenguaje"];?>'
  };

  $('#editor-1').trumbowyg(opcionesEditor);
  $('#editor-2').trumbowyg(opcionesEditor);
  $('#editor-3').trumbowyg(opcionesEditor);
</script>