<form action="" method="post" class="form">
  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn btn-inverse btn-raised" name="editService" value="<?php echo App::$lang['edit']; ?>">
      <a href="<?php echo App::Url();?>/gestion/servicios" class="btn btn-danger btn-raised">
        <?php echo App::$lang['back'];?>
      </a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">
      <i class="material-icons">dashboard</i>
      <?php echo App::$lang['edit']; ?>
    </div>
    <div class="panel-body">
      <div class="row">
        <input type="hidden" name="servicio_id" value="<?php echo $servicio['servicio_id']; ?>">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['name']; ?>
            </label>
            <input type="text" name="nombre" class="form-control" value="<?php echo $servicio['nombre']; ?>" disabled>
          </div>

          <div class="form-group">
            <label>
              <?php echo App::$lang['price']; ?>
            </label>
            <input type="number" name="precio" class="form-control" value="<?php echo $servicio['precio']; ?>" min="0">
          </div>
          <div class="form-group">
            <label>
              <?php echo App::$lang['observations']; ?>
            </label>
            <textarea name="observaciones" class="form-control" value=""><?php echo $servicio['observaciones']; ?></textarea>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <?php echo App::$lang['description']; ?>
            </label>
            <textarea name="descripccion" id="editor-1" class="form-control" value=""><?php echo $servicio['descripccion']; ?></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- panel-body -->
  </div>
  <!-- panel -->
</form>

<script>
    var opcionesEditor = {
      btns: [
      'btnGrp-semantic',
      ['horizontalRule']
  ],
      autogrow: true,
      lang: '<?php echo App::$config["lenguaje"];?>'
  };

  $('#editor-1').trumbowyg(opcionesEditor);
</script>